/* Responsive Styles for Devices Landscape Display */

	/* 2560x1600  - 30 inch Display Landscape */
	@media (max-width: 2560px) and (max-height: 1600px) {
		body {
			font-size: 24px;
		}
		/*
		.device-title:before {
			content:"  Screen TV 2560x1600 ";
		}
		*/
		.device-type {
		    background-image: url("/css/devices/images/desktop.png");
		}
	}
	
	/* 1280x800   - Laptop Display Landscape */
	@media (max-width: 1280px) and (max-height: 800px) {
		body {
			font-size: 22px;
		}
		/*
		.device-title:before {
			content:"  Laptop 1280x800 ";
		}
		*/
		.device-type {
		    background-image: url("/css/devices/images/laptop.png");
		}
	}
	
	/* 1024x768   - 17 inch Display Landscape */
	/* 1024x768   - Tablet Display Landscape  */
	@media (max-width: 1024px) and (max-height: 768px) {
		body {
			font-size: 20px;
		}
		/*
		.device-title:before {
			content:"  Large Tablet 1024x768 ";
		}
		*/
		.device-type {
		    background-image: url("/css/devices/images/tablet_lg.png");
		}
	}
	
	/* 1024x600   - BlackBerry PlayBook Display Landscape */
	@media (max-width: 1024px) and (max-height: 600px) {
		body {
			font-size: 18px;
		}
		/*
		.device-title:before {
			content:"   BlackBerry PlayBook 1024x600 ";
		}
		*/
		.device-type {
		    background-image: url("/css/devices/images/tablet_md.png");
		}	
	}
		
	/* 800x600   - Small Tablet Display Landscape */
	@media (max-width: 800px) and (max-height: 600px) {
		body {
			font-size: 16px;
		}
		/*
		.device-title:before {
			content:"  Small Tablet 800x600 ";
		}
		*/
		.device-type {
		    background-image: url("/css/devices/images/tablet_sm.png");
		}	
	}

	/* 736x414   - Apple IPhone 6 Plus Display Landscape */
	@media (max-width: 736px) and (max-height: 414px) {
		body {
			font-size: 14px;
		}
		/*
		.device-title:before {
		      content:"  Apple IPhone 6 Plus 736x414 ";
		}
		*/
		.device-type {
		    background-image: url("/css/devices/images/iphone5.png");
		}
	}
		
	/* 667x375   - Apple IPhone 6 Display Landscape */
	@media (max-width: 667px) and (max-height: 375px) {
		body {
			font-size: 12px;
		}
		/*
		.device-title:before {
		      content:"  Apple IPhone 6 667x375 ";
		}
		*/
		.device-type {
		    background-image: url("/css/devices/images/iphone5.png");
		}
	}
	
	/* 650x562   - Custom Display Landscape */
	@media (max-width: 650px) and (max-height: 562px) {
		body {
			font-size: 12px;
		}
		/*
		.device-title:before {
		      content:"  Custom 640x360 ";
		}
		*/
		.device-type {
		    background-image: url("/css/devices/images/android.png");
		}	
	}
	
	/* 640x360   - Samsung Galaxy S4 Display Landscape */
	@media (max-width: 640px) and (max-height: 360px) {
		body {
			font-size: 12px;
		}
		/*
		.device-title:before {
		      content:"  Samsung Galaxy S4 640x360 ";
		}
		*/
		.device-type {
		    background-image: url("/css/devices/images/android.png");
		}
	}
	
	/* 600x562   - Custom Display Landscape */
	@media (max-width: 600px) and (max-height: 562px) {
		body {
			font-size: 10px;
		}
		/*
		.device-title:before {
		      content:"  Custom  600x562 ";
		}
		*/
		.device-type {
		    background-image: url("/css/devices/images/android.png");
		}
	}
	
	/* 568x320   - Apple IPhone 5 Display Landscape */
	@media (max-width: 568px) and (max-height: 320px) {
		body {
			font-size: 10px;
		}
		/*
		.device-title:before {
		      content:" Apple Iphone 5 568x320 ";
		}
		*/
		.device-type {
		    background-image: url("/css/devices/images/iphone5.png");
		}
	}
	
	/* 480x320   - Mobile Phone Display Landscape */
	@media (max-width: 480px) and (max-height: 320px) {
		body {
			font-size: 8px;
		}
		/*
		.device-title:before {
		      content:"  Android 480x320 ";
		}
		*/
		.device-type {
		    background-image: url("/css/devices/images/android.png");
		}
	}