/* Media Queries */

		/* Small Portrait */
		@media only screen and (min-width: 0px) and (max-width: 519px) and (orientation: portrait) { 
				body { font-size: 8px; }
				img.logo-image {max-width:25% !important;}
				h1 { margin-top: 0.5rem !important; margin-left: -1rem !important; font-size: 1.75rem !important; }
				h2 { margin-top: 0.5rem !important; margin-left: -1rem !important; font-size: 0.75rem !important; }
				label { font-size:  0.70rem !important; }
				p { font-size:  0.70rem !important; }
				a:not(.password-reset) { font-size: 0.70rem !important; }
				small { font-size: 0.70rem !important; }
				.container { width: 100% !important; }
				/*.page-body { margin-top: 2.5rem !important; } */
				.logo-container { margin-left: 0rem !important; width: 100% !important;}
				.topbar-login .forgot-password { margin-top: 0.1rem; margin-right: 0rem; }
				.login-row .forgot-password { margin-right: -1rem; }
				.login-modal { margin-top: 1rem !important; width: 95% !important; }
				.login-form-container { width: 100% !important; } 
				.password-reset-form-container { width: 100% !important; }
				.account-form-container { width: 100% !important; }
				.reveal-modal {left: 0rem !important; margin: 0px !important; width: 100% !important; }
				.search-filter-menu-icon { 	margin-top: 0.2rem !important; margin-left: -0.5rem !important; }
				.search-results { margin-top: 0rem !important; margin-bottom: 0rem !important; padding: 0rem !important; }
				.media-object p { max-height: 3rem !important; }
				.product-list ul li a { height: 2.0rem !important; }
				
				::-webkit-input-placeholder {  font-size: 0.50rem; }
				:-moz-placeholder { font-size: 0.50rem; }
				::-moz-placeholder { font-size: 0.50rem; }
				:-ms-input-placeholder { font-size: 0.50rem; }
		}

		/*  Medium Portrait */
		@media only screen and (min-width:520px) and (max-width: 959px) and (orientation: portrait) { 
				body { font-size: 12px; }
				img.logo-image { max-width:35% !important; }
				h1 { margin-top: 1rem !important;  margin-left: -2rem !important; font-size: 3.5rem !important; }
				h2 { margin-top: 1rem !important;  margin-left: -2rem !important; font-size: 1.50rem !important; }
				label { font-size:  0.75rem !important; }
				.container { width: 100% !important; }
				/*.page-body { margin-top: 5rem !important; } */
				.logo-container { margin-left: 1.5rem !important; width: 60% !important; }
				.login-row .forgot-password { margin-right: -1rem; }
				.reveal-modal {left: 6rem !important; width: 65% !important; }
				.search-filter-menu-icon { 	margin-top: 0.35rem !important; margin-left: -0.5rem !important; }
				.product-list ul li a { height: 2.25rem !important; }
		}
		
		/* Large Portrait */
		@media only screen and (min-width:960px) and (orientation: portrait) { 
				body { font-size: 18px; }
				h1 {  margin-top: 1.5rem !important; margin-left: -2.5rem !important; }
				h2 {  margin-top: 1rem !important;  margin-left: -1rem !important; font-size: 2.0rem !important; }
				.container { width: 100% !important; }
				/*.page-body { margin-top: 7rem !important; }*/
				.login-row .forgot-password { margin-right: 0rem; }
				.search-filter-menu-icon { 	margin-top: 0.2rem !important; margin-left: -2rem !important; }
		}
		
		/* Small Landscape */
		@media only screen and (min-width: 0px) and (max-width: 519px) and (orientation: landscape) { 
				body { font-size: 8px; }
				img.logo-image { max-width:25% !important;	}
				h1 {  margin-top: 1rem !important; margin-left: -1rem !important; font-size: 1.75rem !important; }
				h2 { margin-top: 0.5rem !important; margin-left: -1rem !important; font-size: 1.50rem !important; }
				label { font-size:  0.80rem !important; }
				p { font-size:  0.80rem !important; }
				a:not(.password-reset) { font-size: 0.80rem !important; }
				small { font-size: 0.80rem !important; }
				.container { width: 100% !important; }
				/*.page-body { margin-top: 3.5rem !important; }*/
				.logo-container { margin-left: 0rem !important; width: 100% !important; }
				.topbar-login .forgot-password { margin-top: 0.1rem; margin-right: 0rem; }
				.login-row .forgot-password { margin-right: -1rem !important; }
				.login-modal { margin-top: 1rem !important; width: 95% !important; }
				.login-form-container { width: 100% !important; }
				.password-reset-form-container { width: 100% !important; }
				.account-form-container { width: 100% !important; }
				.reveal-modal {left: 0rem !important; width: 100% !important; }
				.search-filter-menu-icon { 	margin-top: 0.2rem !important; margin-left: -0.5rem !important; }
				.media-object p { max-height: 3rem !important; }
				.product-list ul li a { height: 1.75rem !important; }
				
				::-webkit-input-placeholder {  font-size: 0.50rem; }
				:-moz-placeholder { font-size: 0.50rem; }
				::-moz-placeholder { font-size: 0.50rem; }
				:-ms-input-placeholder { font-size: 0.50rem; } 
		}
		
		/* Medium Landscape */
		@media only screen and (min-width:520px) and (max-width: 959px) and (orientation: landscape) { 
				body { font-size: 12px; }
				img.logo-image { max-width:35% !important;	}
				h1 {  margin-top: 1.5rem !important; margin-left: -2rem !important; font-size: 3.5rem !important; }
				h2 { margin-top: 1rem !important;  margin-left: -1rem !important; font-size: 1.0rem !important; }
				label { font-size:  0.8rem !important; }
				p { font-size:  0.9rem !important; }
				.container { width: 100% !important; }
				/*.page-body { margin-top: 6rem !important; }*/
				.logo-container { margin-left: 1.5rem !important; width: 60% !important; }
				.login-row .forgot-password { margin-right: -0.5rem; }
				.reveal-modal {left: 6rem !important; width: 65% !important; }
				.search-filter-menu-icon { 	margin-top: 0.35rem !important; margin-left: -0.5rem !important; }
				.product-list ul li a { height: 2.25rem !important; }
		}
		
		/*Large  Landscape */
		@media only screen and (min-width:960px) and (orientation: landscape) { 
				body { font-size: 18px; }
				h1 {  margin-top: 1.5rem !important; margin-left: -2.5rem !important; }
				h2 {  margin-top: 1rem !important;  margin-left: -1rem !important; font-size: 2.0rem !important; }
				.container { width: 100% !important; }
				/*.page-body { margin-top: 7rem !important; }*/
				.logo-container { margin-left: 1.5rem !important; width: 60% !important; }
				.login-row .forgot-password { margin-right: -0.5rem; }
				.search-filter-menu-icon { 	margin-top: 0.5rem !important; margin-left: -0.5rem !important; }
		}		