/* Responsive Styles for Devices Portrait Display */

	/* 1600x2560  - 30 inch Display Portriat */
	@media (max-width: 1600px) and (max-height: 2560px) {
		body {
			font-size: 24px;
		}
		/*
		.device-title:before {
			content:"  Screen TV 1600x2560 ";
		}
		*/
		.device-type {
		    background-image: url("/css/devices/images/desktop.png");
		}	
	}
	
	/* 800x1280  - Laptop Display Portriat */
	@media (max-width: 800px) and (max-height: 1280px) {
		body {
			font-size: 22px;
		}
		/*
		.device-title:before {
			content:"  Laptop 800x1280 ";
		}
		*/
		.device-type {
		    background-image: url("/css/devices/images/laptop.png");
		}	
	}
	
	/* 768x1024  - 17 inch Display Portriat */
	/* 768x1024  - Tablet Display Portriat */
	@media (max-width: 768px) and (max-height: 1024px) {
		body {
			font-size: 20px;
		}
		/*
		.device-title:before {
			content:"  Large Tablet 768x1024 ";
		}
		*/
		.device-type {
		    background-image: url("/css/devices/images/tablet_lg.png");
		}	
	}
	
	/* 600x1024   - BlackBerry PlayBook Display Portriat */
	@media (max-width: 600px) and (max-height: 1024px) {
		body {
			font-size: 18px;
		}
		/*
		.device-title:before {
		      content:" BlackBerry PlayBook 600x1024 ";
		}
		*/
		.device-type {
		    background-image: url("/css/devices/images/tablet_md.png");
		}
	}
		
	/* 600x800   - Small Tablet Display Portriat */
	@media (max-width: 600px) and (max-height: 800px) {
		body {
			font-size: 16px;
		}
		/*
		.device-title:before {
		      content:" Small Tablet 600x800 ";
		}
		*/
		.device-type {
		    background-image: url("/css/devices/images/tablet_sm.png");
		}
	}

	/* 500x562   - Custom Display Portriat */
	@media (max-width: 500px) and (max-height: 562px) {
		body {
			font-size: 14px;
		}
		/*
		.device-title:before {
		      content:"  Custom 500x562 ";
		}
		*/
		.device-type {
		    background-image: url("/css/devices/images/iphone5.png");
		}
	}
	
	/* 414x736   - Apple IPhone 6 Plus Display Portriat */
	@media (max-width: 414px) and (max-height: 736px) {
		body {
			font-size: 12px;
		}
		/*
		.device-title:before {
		      content:"  Apple IPhone 6 Plus 414x736 ";
		}
		*/
		.device-type {
		    background-image: url("/css/devices/images/iphone5.png");
		}	
	}
	
	/* 375x627   - Apple IPhone 6 Display Portriat */
	@media (max-width: 375px) and (max-height: 627px) {
		body {
			font-size: 10px;
		}
		/*
		.device-title:before {
		      content:"  Apple IPhone 6 375x627 ";
		}
		*/
		.device-type {
		    background-image: url("/css/devices/images/iphone5.png");
		}	
	}
		
	/* 360x640   - Samsung Galaxy S4 Display Portriat */
	@media (max-width: 360px) and (max-height: 640px) {
		body {
			font-size: 10px;
		}
		/*
		.device-title:before {
		      content:"  Samsung Galaxy S4 360x640 ";
		}
		*/
		.device-type {
		    background-image: url("/css/devices/images/android.png");
		}	
	}

	/* 450x562   - Custom Display Portriat */
	@media (max-width: 450px) and (max-height: 562px) {
		body {
			font-size: 8px;
		}
		/*
		.device-title:before {
		      content:"  Custom 450x562 ";
		}
		*/
		.device-type {
		    background-image: url("/css/devices/images/android.png");
		}	
	}
		
	/* 320x568   - Apple IPhone 5 Display Portriat */
	@media (max-width: 320px) and (max-height: 568px) {
		body {
			font-size: 8px;
		}
		/*
		.device-title:before {
		      content:"  Apple IPhone 5 320x568 ";
		}
		*/
		.device-type {
		    background-image: url("/css/devices/images/iphone5.png");
		}
	}
	
	/* 320x480   - Mobile Phone Display Portriat */
	@media (max-width: 320px) and (max-height: 480px) {
		body {
			font-size: 8px;
		}
		/*
		.device-title:before {
		      content:"  Android 320x480 ";
		}
		*/
		.device-type {
		    background-image: url("/css/devices/images/android.png");
		}
	}
	
	/* 250x562   - Custom Display Portriat */
	@media (max-width: 250px) and  (max-height: 562px){
		body {
			font-size: 5px;
		}
		/*
		.device-title:before {
		      content:"  Custom 250x562 ";
		}
		*/
		.device-type {
		    background-image: url("/css/devices/images/phone.png");
		}
	}
		
	/* 240x240   - Phone Display Portriat & Landscape */
	@media (max-width: 240px) and  (max-height: 240px){
		body {
			font-size: 5px;
		}
		/*
		.device-title:before {
		      content:"  Phone 240x240 ";
		}
		*/
		.device-type {
		    background-image: url("/css/devices/images/phone.png");
		}	
	}