/* Menu Styles */

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.page-top-nav ul {
  list-style: none;
  padding: 0;
  margin: 0; 
}
.page-top-nav ul li a:hover{
  color: #1CB200;
  /*background: #ffdf00;#BCED91 #33CC33*/
  background: #daf7a6;
}
.page-top-nav-header
{
  margin: auto;
  width: 100%;
  padding: 0.5em;
  border-radius: 0 0 5px 5px;
}
.page-top-nav-header:after
 {
    content: " ";
    display: table;
    clear: both;
}
.page-top-nav-menu,
.page-top-nav-drop-nav {
  background: #ffff99;
}
.page-top-nav-menu {
  float: right;
  border-radius: 4px;
  margin-top: 5px;
  border: solid 1px #ffff66;
}
.page-top-nav-menu > li {
  float: left;
  border-left: solid 1px #ffff33;
}
.page-top-nav-menu li:first-child {
  border-left: none;
}
.page-top-nav-menu a {
  color: #719e40;
  display: block;
  padding: 10px 30px;
  text-decoration: none;
}
.page-top-nav-dropdown,
.page-top-nav-flyout {
  position: relative;
}
.page-top-nav-dropdown:after {
  content: "\25BC";
  font-size: .5em;
  display: block;
  position: absolute;
  top: 38%;
  right: 12%;
}
.page-top-nav-drop-nav,
.page-top-nav-flyout-nav {
  position: absolute;
  display: none;
}
.page-top-nav-drop-nav li {
  border-bottom: 1px solid rgba(255,255,255,.2);
}
.page-top-nav-dropdown:hover > .page-top-nav-drop-nav,
.page-top-nav-flyout:hover > .page-top-nav-flyout-nav {
  display: block;
  border-radius: 5px;
}
.page-top-nav-flyout-nav {
  left: 100%;
  top: 0;
  border-radius: 5px;
}
.page-top-nav-flyout:hover a,
.page-top-nav-flyout-nav {
  background: #ffffcc;
}