/*==================================================
 * Effect 1
 * ===============================================*/
.effect1 {
     box-shadow: 0 10px 6px -6px #777;
}
.effect1-black {
   box-shadow: 0 10px 6px -6px #000;
}
/*==================================================
 * Effect 2
 * ===============================================*/
.effect2
{
  position: relative;
}
.effect2:before, .effect2:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  box-shadow: 0 15px 10px #777;
  transform: rotate(-3deg);
}
.effect2:after
{
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

/*==================================================
 * Effect 3
 * ===============================================*/
.effect3
{
  position: relative;
}
.effect3:before
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  box-shadow: 0 15px 10px #777;
  transform: rotate(-3deg);
}

/*==================================================
 * Effect 4
 * ===============================================*/
.effect4
{
  position: relative;
}
.effect4:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  right: 10px;
  left: auto;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  box-shadow: 0 15px 10px #777;
  transform: rotate(3deg);
}

/*==================================================
 * Effect 5
 * ===============================================*/
 
.effect5
{
  position: relative;
}
.effect5:before, .effect5:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 25px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width: 30%;
  background: #777;
  box-shadow: 0 35px 20px #777;
  transform: rotate(-8deg);
}
.effect5:after
{
  transform: rotate(8deg);
  right: 10px;
  left: auto;
}

/*==================================================
 * Effect 6
 * ===============================================*/
.effect6
{
  	position:relative;       
        box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect6:before, .effect6:after
{
	content:"";
    position:absolute; 
    z-index:-1;
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    border-radius:100px / 10px;
}

/*==================================================
 * Effect 7
 * ===============================================*/
.effect7
{
    position:relative;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect7:before, .effect7:after
{
	content:"";
    position:absolute; 
    z-index:-1;
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    border-radius:100px / 10px;
} 
.effect7:after
{
    right:10px; 
    left:auto; 
    transform:skew(8deg) rotate(3deg);
}

/*==================================================
 * Effect 8
 * ===============================================*/
.effect8
{
    position:relative;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect8:before, .effect8:after
{
	content:"";
    position:absolute; 
    z-index:-1;
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    border-radius:100px / 10px;
} 
.effect8:after
{
    right:10px; 
    left:auto; 
    transform:skew(8deg) rotate(3deg);
}

/*==================================================
 * Effect 3d
 * ===============================================*/
.effect3d
{
    /*box-shadow: 1px 1px 0px #b2cd82,
                2px 2px 0px #b2cd82,
                3px 3px 0px #b2cd82,
                4px 4px 0px #b2cd82,
                5px 5px 0px #b2cd82,
                6px 6px 0px #b2cd82;*/
                
    box-shadow: 0 01px #7d8f5e,
                01px 0 #7d8f5e,
                01px 02px #7d8f5e,
                02px 01px #7d8f5e,
                02px 03px #7d8f5e,
                03px 02px #7d8f5e,
                03px 04px #7d8f5e,
                04px 03px #7d8f5e,
                04px 05px #7d8f5e,
                05px 04px #7d8f5e,
                05px 06px #7d8f5e,
                06px 05px #7d8f5e;
}
/*==================================================
 * Effect Sunken
 * ===============================================*/
.effectSunken
{
    box-shadow: 0 01px #7d8f5e inset,
                01px 0 #7d8f5e inset,
                01px 02px #7d8f5e inset,
                02px 01px #7d8f5e inset,
                02px 03px #7d8f5e inset,
                03px 02px #7d8f5e inset,
                03px 04px #7d8f5e inset,
                04px 03px #7d8f5e inset,
                04px 05px #7d8f5e inset,
                05px 04px #7d8f5e inset,
                05px 06px #7d8f5e inset,
                06px 05px #7d8f5e inset;
}