body {
	font-size: 100%;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    
    /* IE Browsers Scroll Bar Styles */
 	/*scrollbar-base-color: #C0C0C0;
  	scrollbar-base-color: #C0C0C0;
  	scrollbar-3dlight-color: #C0C0C0;
  	scrollbar-highlight-color: #C0C0C0;
  	scrollbar-track-color: #EBEBEB;
  	scrollbar-arrow-color: black;
  	scrollbar-shadow-color: #C0C0C0;
  	scrollbar-dark-shadow-color: #C0C0C0;*/

}
img {
	width:auto;
    max-width:100%;
    height:auto;
}
h4{
	display:block;
	width:100%;
	clear:both;
	margin:0px;
	padding:10px 0px;
}
a:active,
a:focus {
	outline: none !important;
}
a img{
	border:none;
}
.container {
	margin-top: 5rem;
	margin-left: auto;
	margin-right: auto;
    height: auto;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.page-footer {
    margin-top: 5px;
    position: relative;
    width: 100%;
}
.page-header {
    margin-top: 5px;
    position: relative;
    width: 100%;
    z-index: 5;
}
.page-title-bar {
    margin-bottom: 5px;
    max-width: 75.0rem;
    position: relative;
    width: 100%;
}
.page-top-nav {
	border-radius: 5px;
  	color: #daf7a6;
    font-family: "Lato",sans-serif;
    font-size: 0.7em;
    font-weight: normal;
    margin: 5px auto;
    overflow: visible;
    position: relative;
    width: 100%;
    z-index: 1;
}
.page-body{
	border-radius: 5px;
    margin-top: 10rem;
    min-height: 7em;
    position: relative;
    width: 100%;	
}
.page-left-nav {
	color: #719e40;
    font-family: "Raleway",sans-serif;
    font-weight: normal;
    margin: 5px;
    min-height: 6em;
    position: absolute;
    width: 25%;
}
.page-content {
    float: right;
    color: #719e40;
    font-family: "Dancing Script",sans-serif;
    font-weight: normal;
    margin: 5px;
    min-height: 6em;
    position: relative;
    width: 75%;
}
.color-facebook-font {
	color: #3B5998 !important;
}
.color-twitter-font {
	color: #4099FF !important;
}
.color-google-plus-font {
	color: #d34836 !important;
}
.color-linkedin-font {
	color: #4875B4 !important;
}
.color-pastel-green-font {
	color: #DAF7A6 !important;
}
.color-pastel-blue-font {
	color: #B4CFEC !important;
}
.color-pastel-yellow-font {
	color: #fdfd96 !important;
}
.color-pastel-purple-font {
	color: #b19cd9 !important;
}
.color-pastel-orange-font {
	color: #ffb347 !important;
}
.color-pastel-red-font {
	color: #FF7878 !important;
}
.color-pastel-pink-font {
	color: #ffd1dc !important;
}
.color-pastel-grey-font {
	color: #cfcfc4 !important;
}
.color-pastel-dark-red-font {
	color: #C23B22 !important;
}
.color-pastel-dark-green-font {
	color: #03C03C !important;
}
.color-pastel-brown-font {
	color: #836953 !important;
}
.color-pastel-dark-purple-font {
	color: #966FD6 !important;
}
.color-pastel-violet-font {
	color: #CB99C9 !important;
}
.color-pastel-magenta-font {
	color: #f49ac2 !important;
}
.color-ivory-white-font {
	color: #FFFFF0 !important;
}
.color-pastel-green {
	background: #DAF7A6 url("/images/colors/pastel-green.png") repeat scroll 0 0;
}
.color-pastel-blue {
	background: #B4CFEC url("/images/colors/pastel-blue.png") repeat scroll 0 0;
}
.color-pastel-yellow {
	background: #fdfd96 url("/images/colors/pastel-yellow.png") repeat scroll 0 0;
}
.color-pastel-purple {
	background: #b19cd9 url("/images/colors/pastel-purple.png") repeat scroll 0 0;
}
.color-pastel-orange {
	background: #ffb347 url("/images/colors/pastel-orange.png") repeat scroll 0 0;
}
.color-pastel-red {
	background: #FF7878 url("/images/colors/pastel-red.png") repeat scroll 0 0;
}
.color-pastel-pink {
	background: #ffd1dc url("/images/colors/pastel-pink.png") repeat scroll 0 0;
}
.color-pastel-grey {
	background: #cfcfc4 url("/images/colors/pastel-grey.png") repeat scroll 0 0;
}
.color-pastel-dark-red {
	background: #C23B22 url("/images/colors/pastel-dark-red.png") repeat scroll 0 0;
}
.color-pastel-dark-green {
	background: #03C03C url("/images/colors/pastel-dark-green.png") repeat scroll 0 0;
}
.color-pastel-brown {
	background: #836953 url("/images/colors/pastel-brown.png") repeat scroll 0 0;
}
.color-pastel-dark-purple {
	background: #966FD6 url("/images/colors/pastel-dark-purple.png") repeat scroll 0 0;
}
.color-pastel-violet {
	background: #CB99C9 url("/images/colors/pastel-violet.png") repeat scroll 0 0;
}
.color-pastel-magenta {
	background: #f49ac2 url("/images/colors/pastel-magenta.png") repeat scroll 0 0;
}
.color-ivory-white {
	background: #FFFFF0 url("/images/colors/ivory-white.png") repeat scroll 0 0;
}
.transparent {
	background-color: rgba(0, 0, 0, 0.2) !important;
}
.page-back-ground {
	background: #FFFFFF url("/images/backgrounds/coral-lagoon-cuba.jpg") center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

/* Header Content */

.logo-container {
	position: fixed;
	margin-top: 1rem;
	width: 60%;
}
.logo {
	text-decoration: none;
}
.logo-image{
	position: relative;
	vertical-align: top;
	min-width: 5rem;
}
.site-name {
	color: #719e40;
    font-family: "Tangerine",serif;
    font-size: 5em;
    font-weight: normal;
    /*left: 9rem;*/
    line-height: 1;
    position: absolute;
    text-shadow: 4px 4px 4px #aaa;
    /*top: 1rem;*/
    display:inline;
    z-index: 5;
}
.portview {
    color: #000000;
    float: right;
    font-family: "Dancing Script",sans-serif;
    font-size: 0.6em;
    font-weight: bold;
    height: 4em;
    position: absolute;
    text-align: center;
    top: 0;
    width: 4em;
}
.device-type {
    background-repeat: no-repeat;
    background-size: 2em auto;
    height: 3em;
    margin-left: auto;
    margin-right: auto;
    width: 3em;
} 

/* Footer Content */

.copyright {
    color: #719e40;
    font-family: "Tangerine",serif;
    font-size: 1.5em;
    text-shadow: 4px 4px 4px #aaa;
}
.flag {
	margin-left: 5px; 
	margin-top: 5px; 
	width: 3%;
}
/* Helper Styles */
.hide-me {
	display: none !important;	
}
.show-me {
	display: block;
}
.product-share { 
   	background-color: rgba(0, 0, 0, 0.2) !important;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.17) inset, 0 1px 1px rgba(0, 0, 0, 0.2);
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    height: 30px;
    margin-left: 0.7rem;
    position: absolute;
    right: 1.5rem;
    text-align: center;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    top: -1rem;
    width: 35px;
    z-index: 10;
    -moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);
    
}
.icon-bar .item{
	background: #334d38 none repeat scroll 0 0;
	color: #719e40;
}
.icon-bar .item:hover{
	background: #daf7a6 none repeat scroll 0 0;
  	color: #334d38;	
}
.icon-bar{
	postion absolute;
	display: none;
	bottom: 0;
	left: 0;
	width: 20rem;
	height: auto;
}
.icon-bar .item i {
	color: #DAF7A6;
}
.icon-bar .item i:hover {
	color: #334d38;
}
.icon-bar > * {
    display: block;
    float: left;
    font-size: 1rem;
    margin: 0 auto;
    padding: 0.5rem;
    text-align: center;
    width: 25%;
}
.icon-bar > * i {
    font-size: 1rem;
}
.icon-bar.five-up .item {
    width: 20%;
    height: 100%;
}
/* turn off Styles */
.turnoff-css {
	animation : none;
    animation-delay : 0;
    animation-direction : normal;
    animation-duration : 0;
    animation-fill-mode : none;
    animation-iteration-count : 1;
    animation-name : none;
    animation-play-state : running;
    animation-timing-function : ease;
    backface-visibility : visible;
    background : 0;
    background-attachment : scroll;
    background-clip : border-box;
    background-color : transparent;
    background-image : none;
    background-origin : padding-box;
    background-position : 0 0;
    background-position-x : 0;
    background-position-y : 0;
    background-repeat : repeat;
    background-size : auto auto;
    border : 0;
    border-style : none;
    border-width : medium;
    border-color : inherit;
    border-bottom : 0;
    border-bottom-color : inherit;
    border-bottom-left-radius : 0;
    border-bottom-right-radius : 0;
    border-bottom-style : none;
    border-bottom-width : medium;
    border-collapse : separate;
    border-image : none;
    border-left : 0;
    border-left-color : inherit;
    border-left-style : none;
    border-left-width : medium;
    border-radius : 0;
    border-right : 0;
    border-right-color : inherit;
    border-right-style : none;
    border-right-width : medium;
    border-spacing : 0;
    border-top : 0;
    border-top-color : inherit;
    border-top-left-radius : 0;
    border-top-right-radius : 0;
    border-top-style : none;
    border-top-width : medium;
    bottom : auto;
    box-shadow : none;
    box-sizing : content-box;
    caption-side : top;
    clear : none;
    clip : auto;
    color : inherit;
    columns : auto;
    column-count : auto;
    column-fill : balance;
    column-gap : normal;
    column-rule : medium none currentColor;
    column-rule-color : currentColor;
    column-rule-style : none;
    column-rule-width : none;
    column-span : 1;
    column-width : auto;
    content : normal;
    counter-increment : none;
    counter-reset : none;
    cursor : auto;
    direction : ltr;
    display : inline;
    empty-cells : show;
    float : none;
    font : normal;
    font-family : inherit;
    font-size : medium;
    font-style : normal;
    font-variant : normal;
    font-weight : normal;
    height : auto;
    hyphens : none;
    left : auto;
    letter-spacing : normal;
    line-height : normal;
    list-style : none;
    list-style-image : none;
    list-style-position : outside;
    list-style-type : disc;
    margin : 0;
    margin-bottom : 0;
    margin-left : 0;
    margin-right : 0;
    margin-top : 0;
    max-height : none;
    max-width : none;
    min-height : 0;
    min-width : 0;
    opacity : 1;
    orphans : 0;
    outline : 0;
    outline-color : invert;
    outline-style : none;
    outline-width : medium;
    overflow : visible;
    overflow-x : visible;
    overflow-y : visible;
    padding : 0;
    padding-bottom : 0;
    padding-left : 0;
    padding-right : 0;
    padding-top : 0;
    page-break-after : auto;
    page-break-before : auto;
    page-break-inside : auto;
    perspective : none;
    perspective-origin : 50% 50%;
    position : static;
    /* May need to alter quotes for different locales (e.g fr) */
    quotes : '\201C' '\201D' '\2018' '\2019';
    right : auto;
    tab-size : 8;
    table-layout : auto;
    text-align : inherit;
    text-align-last : auto;
    text-decoration : none;
    text-decoration-color : inherit;
    text-decoration-line : none;
    text-decoration-style : solid;
    text-indent : 0;
    text-shadow : none;
    text-transform : none;
    top : auto;
    transform : none;
    transform-style : flat;
    transition : none;
    transition-delay : 0s;
    transition-duration : 0s;
    transition-property : none;
    transition-timing-function : ease;
    unicode-bidi : normal;
    vertical-align : baseline;
    visibility : visible;
    white-space : normal;
    widows : 0;
    width : auto;
    word-spacing : normal;
    z-index : auto;
}

/* browsers powered with Webkit such as Google Chrome, Safari, and Opera. */ 
/*::-webkit-scrollbar { width: 3px; height: 3px;}
::-webkit-scrollbar-button {  background-color: #666; }
::-webkit-scrollbar-track {  background-color: #999;}
::-webkit-scrollbar-track-piece { background-color: #ffffff;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 3px;}
::-webkit-scrollbar-corner { background-color: #999;}}
::-webkit-resizer { background-color: #666;}
::-webkit-scrollbar-thumb:hover { background-color: #aaa; }*/
 
 ::-webkit-scrollbar
{
  width: 12px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
}


::-webkit-input-placeholder {  color: #446620 !important; font-size: 0.75rem; }
:-moz-placeholder { color: #446620 !important; font-size: 0.75rem; }
::-moz-placeholder { color: #446620 !important; font-size: 0.75rem; }
:-ms-input-placeholder { color: #446620 !important; font-size: 0.75rem; }

::selection {
  background: #daf7a6; /* WebKit/Blink Browsers */
  color: #719e40;
}
::-moz-selection {
  background: #daf7a6; /* Gecko Browsers */
  color: #719e40;
}
