{% block subject 'Papi's Corner - User Registration Confirmation' %}

{% block body_html %}

<h4>Dear {{ first_name }} {{ last_name }},</h4>

<p>Thank you for joining Papi's Corner.</p> 
<p>To complete your registration, please click this link to validate your email address and activate your account:</p>
<p><a href="{{ link }}">{{ link }}</a></p>
<b>Thank-You,</b>
<p>
<img src="file://images/papicorners-email-logo.png">
</p>

{% endblock %}

{% block body_text %}

Dear {{ first_name }} {{ last_name }},
 
Thank you for joining Papi's Corner.
 
To complete your registration, please click this link to validate your email address and activate your account:
  
{{ link }}

Thank-You,

Webmaster @ Papi's Corner 

{% endblock %}