{% block subject 'Papi\'s Corner - User Pasword Reset' %}

{% block body_html %}

<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
        <link href="//fonts.googleapis.com/css?family=Lato|Tangerine|Raleway|Dancing Script|Inconsolata|Droid+Sans" rel="stylesheet" type="text/css" />

	<style>
		.container {
		    margin-top: 0.5rem !important;
		    width:75%;
		}
		.page-body {
			margin-top: 1.5rem;
		}
		h2, p {
		    color: #719e40;
		    font-family: Tahoma;
		    margin-left: 1.2rem;
		    margin-right: 1.2rem;
		}
		p {
		    font-size: 1.25rem;
		    font-weight: normal;
		}
		.color-pastel-green-font {
			color: #DAF7A6 !important;
		}
	</style>
</head>
<body class="color-pastel-green">		
	<div id="contaner" class="container color-pastel-green">
		<div id="page-body" class="page-body  color-pastel-green">
		<h2>Dear {{ first_name }} {{ last_name }},</h2>
		<p>Hola, Your Papi's Corner account password has been reset! Please <a href="{{ link }}">login</a> to your account using your new password.</p>
		<p>Your password is set to <i>{{ password }}</i>.</p>
		<p>Please remember to change your password!</p>
		<p>Thank You, Papi</p>
		<img src="http://www.papiscorner.com/images/logos/papicorners-email-logo.png">	
		</div>		
	</div>
</body>
</html>

{% endblock %}

{% block body_text %}

Dear {{ first_name }} {{ last_name }},

Hola, Your Papi's Corner account password has been reset! Please login to your account using your new password, {{ link }}.

Your password is set to {{ password }}.

Please remember to change your password!

Thank-You, Papi
 

{% endblock %}