<!DOCTYPE html>
<html class="no-js" lang="en">

{% include 'header.twig' %}
		
{% include 'top-nav.twig' %}

<div id="page-body" class="row page-body  color-pastel-blue">
	<div class="large-12 columns">
		<div id="page-left-nav" class="page-left-nav  color-pastel-red">
		
			{% include 'left-nav.twig' %}
			
		</div>
		<div id="page-content" class="page-content  color-pastel-orange">
			<p>Page Content</p>
		</div>
	</div>
</div>
		
{% include 'footer.twig' %}

</html>
