
</div>

<style>
.page-footer-cover {
	background: #EBF7CC none repeat scroll 0 0;
	height: 100%;
	margin-top: 25px;
    margin-bottom: 0;
	width: 100%;
}
.page-footer-bar {
	height: 0.1rem;
	width: 100%;
}
</style>

<script type="text/javascript" charset="utf-8">

</script>

<div class="page-footer-cover">
	<div class="page-footer-bar color-pastel-dark-green effect8"></div>
	<div id="page-footer" class="row page-footer">
		{% if show_logo is not defined or show_logo == true %}
			<img data-tooltip aria-haspopup="true" style="margin:0.5rem;width:5rem;" src="/images/papi-nathaniel.png" title="Love you Papi!" alt="Papi & Nathaniel" />
		{% endif %}
		<div class="large-12 columns">
			<div  class="fb-like"  data-share="true"  data-width="450" data-show-faces="true"></div>
			<!--
			<div><a href="https://www.facebook.com/dialog/share?app_id={{ social_media.facebook.app_id }}&amp;display=popup&amp;href=http%3A%2F%2F{{ app_domain }}%2F&amp;redirect_uri=http%3A%2F%2F{{ app_domain }}%2F">Facebook Share</a></div>
			<div><a href="https://www.facebook.com/dialog/feed?app_id={{ social_media.facebook.app_id }}&amp;display=popup&amp;caption=An%20example%20caption&amp;link=https%3A%2F%2F{{ app_domain }}%2F&amp;redirect_uri=https%3A%2F%2F{{ app_domain }}%2F">Facebook Feed</a></div>
			<div><a href="http://www.facebook.com/dialog/send?app_id={{ social_media.facebook.app_id }}&amp;link=http%3A%2F%2F{{ app_domain }}%2Fuser%2Flogin&amp;redirect_uri=https%3A%2F%2F{{ app_domain }}%2Fuser%2Flogin">Facebook Send</a></div>
			-->
		</div>
		<div class="large-12 columns">
			<!-- Content Here -->
			<p class="copyright">&copy; Copyright {{ "now"|date("Y") }} {{ site_name }}
			<img data-tooltip aria-haspopup="true" class="flag has-tip tip-right" src="/images/american_flag_sm.png" title="God Bless American" alt="American Flag"/>
			</p>
		</div>
	</div>
	<input id="user_id" name="user_id" type="hidden" value="{{ user.user_id }}">
	<input id="user_login_with_social_media" name="user_login_with_social_media" type="hidden" value="{{ user.user_login_with_social_media }}">
	<input id="csrf_key" name="{{ csrf_key_name }}" type="hidden"  value="{{ attributes['' ~ csrf_key_name] }}">
    <input id="csrf_value" name="{{ csrf_value_name }}" type="hidden" value="{{ attributes['' ~ csrf_value_name] }}">
    <input id="facebook_app_id" name="facebook_app_id" type="hidden" value="{{ social_media.facebook.app_id }}">
    <input id="google_app_id" name="google_app_id" type="hidden" value="{{ social_media.google.app_id }}">
    <input id="google_browser_key" name="google_browser_key" type="hidden" value="{{ social_media.google.browser_key }}">
    <input id="twitter_app_id" name="twitter_app_id" type="hidden" value="{{ social_media.twitter.app_id }}">
</div>

</body>

{% include 'register.twig' %}

{% include 'terms-agreements.twig' %}

{% include 'password-reset.twig' %}

{% include 'share-icon-bar.twig' %}

{% include 'shopping-cart.twig' %}

{% include 'notification.twig' %}

{% include 'product-modal.twig' %}

{% if is_authenticated %}
{% include 'account.twig' %}
{% endif %}

