
<head>
        {% set site_name = "Papi's Corner" %} 
        
        <title>{{ title }} | {{ site_name }}</title>
        
        <meta charset="utf-8"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="author" content="John Cordero johnnyangelnj@gmail.com" />
        <meta name="description" content="A premier art gallery portal, where you can host and advertise your own art gallery.">
        <meta name="keywords" content="art, artwork, gallery, oil paintings, oil painting, stencil, pencil, drawings, canvas, easel, paint, pallete">
        <meta name="copyright" content="2016" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="robots" content="index, follow">
      	<meta name="googlebot" content="index, follow">
      	<meta name="google-signin-client_id" content="{{ social_media.google.app_id }}">

        <link rel="shortcut icon" type="image/x-icon" href="{{ base_url() }}/papi.ico"/>
        
        <link href="//fonts.googleapis.com/css?family=Lato|Tangerine|Raleway|Dancing Script|Inconsolata|Droid+Sans" rel="stylesheet" type="text/css" />
        <link href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />
        <link href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/normalize.min.css" rel="stylesheet" type="text/css" />
		<link href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/foundation.min.css" rel="stylesheet" type="text/css" />
		<link href="//cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet" type="text/css" />
		<link href="//twitter.github.com/bootstrap/1.3.0/bootstrap.min.css" rel="stylesheet" type="text/css" />
  		
        <link href="{{ base_url() }}/css/site.css" rel="stylesheet" type="text/css" />
        <link href="{{ base_url() }}/css/menu.css" rel="stylesheet" type="text/css"  />
        <link href="{{ base_url() }}/css/dropzone.css" rel="stylesheet" type="text/css"  />
        <link href="{{ base_url() }}/css/shadow-box.css" rel="stylesheet" type="text/css" />
        <link href="{{ base_url() }}/css/webicons.css" rel="stylesheet" type="text/css" />
        <link href="{{ base_url() }}/css/my-map.css" rel="stylesheet" type="text/css" />
        <link href="{{ base_url() }}/css/sweetalert.css" rel="stylesheet" type="text/css" />
        
        <link href="{{ base_url() }}/css/devices/media-queries.css" rel="stylesheet" />
        <!--
    	<link href="{{ base_url() }}/css/devices/portrait.css" rel="stylesheet" media="(orientation: portrait)" />
        <link href="{{ base_url() }}/css/devices/landscape.css" rel="stylesheet" media="(orientation: landscape)" />
        -->
        
        <style>

	    </style>
        
        <script src="//code.jquery.com/jquery-1.11.2.min.js" type="text/javascript" charset="utf-8" ></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js" type="text/javascript" charset="utf-8" ></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"  charset="utf-8" ></script>
        
        <script>
		  window.___gcfg = {
		    lang: 'zh-CN',
		    parsetags: 'onload'
		  };
		</script>
        
        <script src="//www.google.com/jsapi" type="text/javascript" charset="utf-8" ></script>
        <script src="//apis.google.com/js/platform.js?onload=google_init_signinV2" type="text/javascript" charset="utf-8" ></script>
        <script src="//apis.google.com/js/client:platform.js" type="text/javascript" charset="utf-8" async defer ></script>
        <script src="//maps.google.com/maps/api/js?key=AIzaSyCu3zREn6s5MPYYr4_dWxGt27yengQJlwI" type="text/javascript" charset="utf-8" ></script>
        <script src="//www.google.com/recaptcha/api.js" type="text/javascript" charset="utf-8" ></script>
        
        <script src="{{ base_url() }}/js/accordion.js" type="text/javascript" charset="utf-8" ></script>
        <script src="{{ base_url() }}/js/site.js" type="text/javascript" charset="utf-8" ></script>
        <script src="{{ base_url() }}/js/foundation.min.js" type="text/javascript" charset="utf-8" ></script>
        <script src="{{ base_url() }}/js/facebook-login.js" type="text/javascript" charset="utf-8" ></script>
        <script src="{{ base_url() }}/js/google-login.js" type="text/javascript" charset="utf-8" ></script>
        <script src="{{ base_url() }}/js/twitter-login.js" type="text/javascript" charset="utf-8" ></script>
        <script src="{{ base_url() }}/js/dropzone.min.js" type="text/javascript" charset="utf-8" ></script>
        <script src="{{ base_url() }}/js/jquery.complexify.js" type="text/javascript" charset="utf-8" ></script>
        <script src="{{ base_url() }}/js/jquery.complexify.banlist.js" type="text/javascript" charset="utf-8" ></script>
        <script src="{{ base_url() }}/js/gmaps.js" type="text/javascript" charset="utf-8" ></script>
        <script src="{{ base_url() }}/js/sweetalert.min.js" type="text/javascript" charset="utf-8" ></script>

        <script type="text/javascript" charset="utf-8">
        
        		window.logo_array = new Array();
        		
        		if (navigator.geolocation) {
				  console.log('Geolocation is supported!');
				}
				else {
				  console.log('Geolocation is not supported for this Browser/OS version yet.');
				}
				
				/*
				if("geolocation" in navigator) {
					navigator.geolocation.getCurrentPosition(function(position) {
						console.log(position);
					});
				}
            	*/
            	
            	try {
				    navigator.geolocation.getCurrentPosition(GetUserLocation);
				}
				catch(e) {
				    console.log("Error with (GEO) Current Position " +e.message);
				}
                

	            $(document).ready(function(){
	            
					window.console = window.console || {};
					window.console.log = window.console.log || function() {};

	                console.log("Initiating System");
	                
					var domain = '{{ app_domain }}';
					
					// Set domain to 'www' for social media logins
                    if(window.location.host != domain) window.location.href = window.location.protocol + '\/\/' + domain;
								
	                //$( document.body ).addClass("page-back-ground");
	                
					$(document).foundation({
						error_labels: true,
						focus_on_invalid : true,
					    abide : {
					      validators: {
						    checkbox_limit: function(el, required, parent) {
						    	console.log('Checkbox Limit');
						        var group = parent.closest('.checkbox-group');
						        var min = group.attr('data-abide-validator-min');
						        var checked = group.find(':checked').length;
						        if (checked >= min) {
						            group.find('small.error').hide();
						            return true;
						        } else {
						            group.find('small.error').css({
						                display: 'block'
						            });
						            return false;
						        }
						    }
						  },
					      patterns: {
					        dashes_only: /^[0-9-]*$/,
					        ip_address: /^((25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9][0-9]|[0-9])\.){3}(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9][0-9]|[0-9])$/,
					        alpha: /^[a-zA-Z]+$/,
							alpha_numeric : /^[a-zA-Z0-9]+$/,
							integer: /^[-+]?\d+$/,
							number: /^[-+]?[1-9]\d*$/,
							
							// amex, visa, diners
							card : /^(?:4[0-9]{12}(?:[0-9]{3})?|5[1-5][0-9]{14}|6(?:011|5[0-9][0-9])[0-9]{12}|3[47][0-9]{13}|3(?:0[0-5]|[68][0-9])[0-9]{11}|(?:2131|1800|35\d{3})\d{11})$/,
							cvv : /^([0-9]){3,4}$/,
							
							// http://www.whatwg.org/specs/web-apps/current-work/multipage/states-of-the-type-attribute.html#valid-e-mail-address
							email : /^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/,
							
							url: /(https?|ftp|file|ssh):\/\/(((([a-zA-Z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:)*@)?(((\d|[1-9]\d|1\d\d|2[0-4]\d|25[0-5])\.(\d|[1-9]\d|1\d\d|2[0-4]\d|25[0-5])\.(\d|[1-9]\d|1\d\d|2[0-4]\d|25[0-5])\.(\d|[1-9]\d|1\d\d|2[0-4]\d|25[0-5]))|((([a-zA-Z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-zA-Z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-zA-Z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-zA-Z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.)+(([a-zA-Z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-zA-Z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-zA-Z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-zA-Z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.?)(:\d*)?)(\/((([a-zA-Z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:|@)+(\/(([a-zA-Z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:|@)*)*)?)?(\?((([a-zA-Z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:|@)|[\uE000-\uF8FF]|\/|\?)*)?(\#((([a-zA-Z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:|@)|\/|\?)*)?/,
							// abc.de
							domain: /^([a-zA-Z0-9]([a-zA-Z0-9\-]{0,61}[a-zA-Z0-9])?\.)+[a-zA-Z]{2,6}$/,
							
							datetime: /([0-2][0-9]{3})\-([0-1][0-9])\-([0-3][0-9])T([0-5][0-9])\:([0-5][0-9])\:([0-5][0-9])(Z|([\-\+]([0-1][0-9])\:00))/,
							// YYYY-MM-DD
							date: /(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))/,
							// HH:MM:SS
							time : /(0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9]){2}/,
							dateISO: /\d{4}[\/\-]\d{1,2}[\/\-]\d{1,2}/,
							// MM/DD/YYYY
							month_day_year : /(0[1-9]|1[012])[- \/.](0[1-9]|[12][0-9]|3[01])[- \/.](19|20)\d\d/,
							
							// #FFF or #FFFFFF
							color: /^#?([a-fA-F0-9]{6}|[a-fA-F0-9]{3})$/
					      }
					    }
					  });
					
					/* Ajax Init Functions */
					/*
					$.ajaxSetup({
		                beforeSend: function(xhr, settings) {		    

		                }
		            });
		                  
	                $(document).ajaxSend(function(elm, xhr, s) {
					    if (settings.type == "POST" || settings.type == "PUT" || settings.type == "DELETE" ) {
					        xhr.setRequestHeader('x-csrf-token', JSON.stringify(tokenArray, null, 2));
					    }
					});
					*/
															
						
	                $(document).on('close.fndtn.reveal', '[data-reveal]', function () {
						console.log('Modal ID ' + this.id);
						if(this.id == 'product_modal'){
							$('#product_modal_view').attr("src", '/viewer.html');
							$('#product_modal_view').css("height", "20rem");
						} else if(this.id == 'account_modal'){
							for (var i = 0; i < my_account.account_menu_size; i++) {
								my_account.form_reset(my_account.account_menu_items[i], $( '#'+my_account.account_menu_items[i]+my_account.account_form ));
							}
							my_account.account_hide_all(my_account.account_container);
						}
					
					});
	                /*
	                $('input, textarea, select').off('.abide').on('blur.fndtn.abide change.fndtn.abide', function (e) {
				        // do nothing
				    });			    
				    $("#featured-products").on("ready.fndtn.orbit", function(event) {
					  console.info("ready");
					});
					$("#featured-products").on("before-slide-change.fndtn.orbit", function(event) {
					  console.info("before slide change");
					});
					*/
					$("#featured-products").on("after-slide-change.fndtn.orbit", function(event, orbit) {
					  //console.info("after slide change");
					  console.info("slide " + (orbit.slide_number +1) + " of " + orbit.total_slides);
					});
					/*
					$("#featured-products").on("timer-started.fndtn.orbit", function(event, orbit) {
					  console.info("timer started");
					});
					$("#featured-products").on("timer-stopped.fndtn.orbit", function(event, orbit) {
					  console.info("timer stopped");
					});
				    */					
					$('#register').click(function(){
						$('#registration_modal').foundation('reveal', 'close');
					});
					$('#password_reset').click(function(){
						$('#password-reset-message').removeClass('warning label message-box').empty();
						$('#password_reset_modal').foundation('reveal', 'close');
					});				
					$(document).on('closed.fndtn.reveal', '[data-reveal]', function () {
						var modal = $(this);
						var abideForm = $(modal).find('form');	
						form_reset (abideForm)
					});
					
					$( '#signIn' ).hover( function() {
						form_reset ( $( '#topbar_loginform' ) );
					});
					
	                $( window ).resize(function() {
						//device_image();
					}); 
	                
	                //Top Nav Menu Color 
	                $( '.page-top-nav-dropdown' ).mouseover(function(){
					    $(' .page-top-nav ').css("color", "#719e40");
					}).mouseout(function(){
					    $(' .page-top-nav ').css("color", "#daf7a6");
					});
					
		            $( window ).load(function(){     

		            });
		            
		            $( window ).on('beforeunload', function(){
					  $( window ).scrollTop(0);
					});
		            
	                $( '#login_form' ).submit(function( e ){
	                
	                	e.preventDefault();
	                	
	                	var invalid_fields = $(this).find('[data-invalid]');
	                	
	                 	if( invalid_fields.length === 0 ){ 
							console.log('login form is valid');
							login($(this));
						} else {
				      		console.log(invalid_fields);						
						}
	                });
	                
	                $( '#sign_out').click(function () {
	                	console.log('Sign me out please.');
	                	logout($( '#user_id' ).val());
	                });

	                $( '#page-header' ).hover(function() {
	                	//console.log($(' #logo_link' ).offset().top+' X '+$(' #logo_link' ).offset().left);
					    if($(' #logo_link' ).offset().top > 100) $( '#logo_container' ).fadeOut('slow');
					});
						                
	                $( '#page-header' ).click(function() {
				        $( '#logo_container' ).fadeIn('slow');
					},
					function(){
					    $( '#logo_container' ).fadeOut('slow');
					});
					
					$( window ).scroll(function() {
					    $( '#logo_container' ).fadeIn('slow');
					});
					
					$(' #logo_link' ).click(function(e) {
					    e.preventDefault();
					});
					
					$( ".buy-now" ).on('click', function(e) {
						e.preventDefault();
						console.log('Buy Now ' + this.id);
						addCartItem(this.id);
					});
					
					$( ".product-details-product-buy-now-button" ).on('click', 'a.buy-now', function(e) {
					    e.preventDefault();
						console.log('Buy Now ' + this.id);
						addCartItem(this.id);
					});
					
					$( '.product-details-canvas').on('click', '.product_details_lg_image', function(e){
						e.preventDefault();
			
						var lg_product_view_url = '/user/product/view/'+this.id;
						console.log("Large Product View Url "+lg_product_view_url);
						$('#product_modal_view').attr("src", lg_product_view_url);
						
						$('#product_modal').foundation('reveal', 'open');
					});
	            });
	            
	            function form_reset (abideForm) {
	            	$( '#login-message-container' ).hide();
	            	$( '#login-message' ).removeClass('warning label message-box').empty();
					// Clear the error classes on divs and labels
					abideForm.children('div').removeClass('error');
					abideForm.children('label').removeClass('error');
					// Reset form abide validation
					if(! jQuery.isEmptyObject(abideForm[0]) )
						abideForm[0].reset();        
	            } 
	            			    
			    function GetUserLocation(location) {
			    	console.log('User Location Lat: '+location.coords.latitude+' Long: ' +location.coords.longitude+' Accuracy: '+location.coords.accuracy+'%');
			    	url="/user/known-location?lat="+location.coords.latitude+"&long="+location.coords.longitude+"&city=";
			    	
			    	$.get(url, function( response ) {
			    		console.log(response);
			    		if(response['current_location'] == 'FIND-LOCATION'){			    		
					    	url = "https://maps.googleapis.com/maps/api/geocode/json?latlng="+location.coords.latitude+","+location.coords.longitude;//+"&key="+ $( '#google_browser_key' ).val();
					    	$.get(url, function( response ) {
					    		console.log(response);
					    		if(response['status'] == 'OK'){
						    		user_current_location = response['results'][0]['address_components'][2]['short_name'];
									console.log( user_current_location );
									$( "[id=current_location]" ).html(user_current_location);
									url = "/user/known-location?lat="+location.coords.latitude+"&long="+location.coords.longitude+"&city="+user_current_location;
									$.get(url, function( response ) {
										console.log(response);
									});
								} else{
									$( '.current-location' ).addClass('hide-me');
								}	
							});
						} else {
							$( "[id=current_location]" ).html(response['current_location']);
						}
						
						$( '.current-location' ).removeClass('hide-me');
					});
				}				

	    </script>
        

</head>
<body class="color-pastel-green">

<!-- Google Analytics -->
<script src="{{ base_url() }}/js/google_analytics.js" type="text/javascript" charset="utf-8" ></script>

{% if show_title_bar is not defined or show_title_bar == true %}
	{% include 'title-bar.twig' %}
{% endif %}
		
<div id="contaner" class="container">
	{% if show_logo is not defined or show_logo == true %}		
		<div id="page-header" class="row page-header">
			<div id="logo_container" class="large-12 columns logo-container">
				<a id="logo_link" href="/" class="logo"><img class="logo-image" src="/images/logos/papi-chillin-sm-color.png" alt="{{ site_name }}" />
				<h1 class="site-name">{{ site_name }}</h1>
				</a>            
			</div>        
		</div>
	{% endif %}