<!DOCTYPE html>
<html class="no-js" lang="en">

{% include 'header.twig' %}

<style>
.container {
    margin-top: 1rem !important;
    width:50%;
}
.page-body {
	margin-top: -2rem !important;
}
.logo-container {
	position: relative;
}
.login-modal, 
.login-modal h2, 
.login-modal .form-text {
	background: #c5e5ab none repeat scroll 0 0;
	font-family: "Raleway",sans-serif !important;
	font-size: 0.9rem;
	font-weight: normal;
	/*line-height: 1rem;*/
	color: #719e40 !important;
}
.login-modal {
	width: 90%;
}
.login-form-container {
	width: 90%;
}
.login-modal, 
.login-form-container {
    border-radius: 5px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: auto;
	margin-right: auto;
    padding: 0.5rem;
}
.error-message {
	display: block;
}
.login-modal h2 {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    display: inline;
    font-size: 1.5rem;
    padding: 0.5rem;
    text-shadow: 4px 4px 4px #aaa;
    z-index: 100;
}
.login-logo {
	vertical-align: middle;
	width: 5rem;
}
.login-row {
	margin: 0.5rem;
	position: relative;
}
.login-row a:not(.password-reset) {
	background: none !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
    line-height: 0rem !important;
	/*color: #008cba !important;*/
}
.login-row a:not(.password-reset):hover, 
.login-row a:not(.password-reset):focus {
    color: #0078a0 !important;
}
.login-row input[type="email"],
.login-row input[type="password"] {
    font-size: 1rem;
    height: 2.0rem;
    margin: 0.15rem;
    /*padding-bottom: 0.35rem;
    padding-top: 0.35rem;*/
}
.login-row input[type="email"] {
    width:  95%;
}
.login-row input[type="password"] {
    width:  95%;
}
.login-row input[type="checkbox"] {
	margin-left: 0.15rem;
	display: inline;
}
.login-row  label {
	background: #c5e5ab none repeat scroll 0 0;
    color: #719e40;
    /* font-size: 0.5em; */
    font-weight: bold;
    margin-bottom: 0;
    padding: 0;
    text-transform: uppercase;
    display: inline;
}
.login-row  p {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #719e40;
    /* font-size: 0.5em; 
    font-weight: bold;*/
    margin-bottom: 0;
    padding: 0;
    display: inline;
}
.login-row .forgot-password {
    font-family: "Lato",sans-serif;
    font-size: 1.75rem;
    font-weight: bold;
    line-height: 2rem;
    position: absolute;
    right: 1.5rem;
    top: 0rem;
}
.login-row .forgot-password a:not(.button) {
    background: #abc894 none repeat scroll 0 0;
    padding: 0 0.9375rem;
    color: #FFFFF0;
}
.login-row .forgot-password  a:hover:not(.button):not(.no-hover) {
  color: #95c66d;
  /*background: #ffdf00 #BCED91 #33CC33*/
  background: #c5e5ab none repeat scroll 0 0;
}
.login-button {
	margin-left: 5rem;
	margin-right: 5rem;
}
.login-row button {
	/*width: 11rem;*/
}
.login-margin {
	margin-top: 2rem;
}
.message-box {
    /* font-size: 0.6rem !important; */
    font-style: italic !important;
    font-weight: normal !important;
    margin-bottom: 0.1rem !important;
    margin-left: 0.2rem !important;
    margin-top: 0.7rem !important;
    padding: 0.2rem !important;
    text-align: left;
    width: 95% !important;
}
.close {
	background: #abc894 none repeat scroll 0 0;
	color: #719e40 !important;
	line-height: 25px !important;
	position: absolute !important;
	right: -12px !important;
	text-align: center !important;
	top: -10px !important;
	width: 24px !important;
	text-decoration: none !important;
	font-size: 1rem !important;
	font-weight: bold !important;
	-webkit-border-radius: 12px !important;
	-moz-border-radius: 12px !important;
	border-radius: 12px !important;
	-moz-box-shadow: 1px 1px 3px #000 !important;
	-webkit-box-shadow: 1px 1px 3px #000 !important;
	box-shadow: 1px 1px 3px #000 !important;
}
.close:hover {
	background: #DAF7A6 none repeat scroll 0 0;
	color: #abc894 !important; 
}
</style>
        
<script type="text/javascript" charset="utf-8">
   
        $(document).ready(function(){
			$('#facebook_signin').on('click', function () {
				window.parent.facebook_login();
			});
        });
        
</script>

<div id="page-body" class="row page-body  color-pastel-green">
        					
	<div id="login_modal" class="login-modal login-margin effect7">
		<div align="center"><!--<img class="login-logo" src="/images/logos/palm-sun-beach-papi-hammock.png">--><h2>Sign in to your account.</h2></div>
		
		<form id="login_form" data-abide>
			<div class="login-form-container color-ivory-white effect1">
				<div class="row">
					<div class="large-12 large-centered columns">
						<div id="login-message-container" class="login-row">
				        	<span id="login-message"></span>
				        </div>					
					</div>
				</div>	
				<div class="row">
					<div class="large-12 large-centered columns">
						<div class="login-row">
							<input id="login-email" name="login-email" type="email" placeholder="Email" required />
							<small class="error message-box" data-error-message="">Email is required.</small>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="large-12 large-centered columns">
						<div class="login-row">
					        <input id="login-password" name="login-password" type="password" placeholder="Password" required />
					        <small class="error message-box" data-error-message="">Password is required.</small>
					        <div data-tooltip aria-haspopup="true" class="forgot-password has-tip tip-right" title="Forgot Password"><a href="#" id="password_reset" class="password-reset" data-reveal-id="password_reset_modal" data-reveal>?</a></div>
				        </div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="large-12 large-centered columns">			
					<div class="login-row login-button">
						<div class="left">
				    		<button type="submit" class="button small effect1">Login</button>
				        </div>
				      	<div class="right">
				        	<input id="rememberme" name="login-rememberme" type="checkbox"><label for="rememberme">remember me</label>
				        </div>
			        </div>
				</div>
			</div>
		</form>							    	
	</div>
	<div align="center">
		<div class="row">
			<div class="large-12 large-centered columns">
				<div class="login-row">
		    		<p class="small"><a href="#" id="register" data-reveal-id="registration_modal" data-reveal>Need an Account?</a> &nbsp;
		    		<small>Or sign in with <a id="facebook_signin" href="{{ social_media.facebook.login_url }}"> Facebook</a>, <a id="twitter_signin" href="{{ social_media.twitter.login_url }}"> Twitter</a>, <a id="google_signin" data-onsuccess="google_signup" href="{{ social_media.google.login_url }}">Google</a>, or <a  href="#"> Linked In</a></small>.</p>
		        </div>
			</div>
		</div>	
	</div>
</div>
		
{% include 'footer.twig' %}

</html>
