<!DOCTYPE html>
<html class="no-js" lang="en">

{% include 'header.twig' %}

<style>
/* Style Override */
i {
    display: inline;
    font-size: 1.2rem;
}
.container {
    margin-top: 0.5rem !important;
    width:75%;
}
.page-body {
	margin-top: 1.5rem;
}
.page-body p {
    color: #719e40;
    font-family: "Lato",sans-serif !important;
    font-size: 1.25rem;
    font-weight: normal;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    margin-top: 4rem;
}
</style>

<script type="text/javascript">
	$(document).ready(function () {
		$("#support").attr("href", "mailto:webmaster.papiscorner@gmail.com?Subject=Papi's Corner Customer Support for " + window.location.href +"&body=Please provide details, such as name, description, attachments like screen shots, etc, to better assist you. Thank you for contacting us!");
	});
</script>

<div id="page-body" class="row page-body  color-pastel-green">

	<p>Welcome, Hola, Bienvenido to Papi's Corner! We are looking forward to having our site available very soon! Papi's Corner is a premier art gallery portal, where you can host and advertise your own art gallery. Our site was inspired by <a href="https://www.facebook.com/naomi.cordero.50?ref=br_rs" target="_blank">Naomi Cordero</a> who in her retired years has picked up her easel and paint palette to provided our featured and opening art gallery. <a id="support" href="mailto:webmaster.papiscorner@gmail.com?Subject=Papi's Corner Customer Support"><b><i class="fi-mail top-bar-icon-style"></i>&nbsp;Contact Us</b></a>.</p>
	
	<div class="show-for-small-only">
		{% include 'product-lg.twig' %}
	</div>
	
	{% include 'orbit-lg.twig' %}
	
</div>

{% include 'footer.twig' %}

</html>