<!DOCTYPE html>
<html class="no-js" lang="en">

<style>
/* Style Override */
.container {
    margin-top: 1rem !important;
    width:50%;
}
.page-body {
	margin-top: 5rem !important;
}
.page-body {
	height: 12em;
}
.page-content {
    border-radius: 5px;
    color: #fdfd96 !important;
    float: none !important;
    font-family: "Lato",sans-serif !important;
    font-size: 0.6em;
    font-weight: normal !important;
    height: 12em;
    margin-left: auto !important;
    margin-right: auto !important;
    padding: 1.5em;
    top: 3.5em;
    width: 90% !important;
}

.maintenance {
  	display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5em;
    text-align: center; 
}

.maintenance h1 {
	font-size: 2.0em !important;
}

.maintenance p {
	font-size: 1.0em !important;
}

.font-color-pastel-yellow {
	color: #fdfd96 !important;
}
</style>

{% include 'header.twig' %}

<div class="row">
	<div class="large-12 columns">
		<div id="page-body" class="page-body  color-pastel-yellow  effect5">
			<div id="page-content" class="page-content  color-pastel-red effect1">
				<div id="maintenance" class="maintenance">
					<h1 class="font-color-pastel-yellow">Our Site is temporarily unavailable.</h1>
					<p class="hide-for-small-only">We expect to have the site online very soon.</p>
				</div>
			</div>
		</div>
	</div>
</div>
		
{% include 'footer.twig' %}

</html>