<style>
.page-body {
    margin-top: 6rem;
}
.notification-modal {
	background: #c5e5ab none repeat scroll 0 0;
    color: #719e40 !important;
    width:50%;
}
.notification, 
.notification h2 {
	margin: 1.5rem;
	font-family: "Raleway",sans-serif !important;
	font-size: 0.9rem;
	font-weight: normal;
	color: #719e40;
}
.notification h1 {
	margin: 1.5rem;
	font-family: "Raleway",sans-serif !important;
}
.notification {
	margin: 1rem;
	padding: 1rem;
	min-height: 20rem;
	width: 100%;
}
.notification img { 
	display: block;
	width: 100%;
}
.notification h2 {
	background: #c5e5ab none repeat scroll 0 0;
    display: inline;
    margin-left: 1rem;
    color: #719e40 !important;
    font-family: "Raleway",sans-serif !important;
    font-size: 0.9rem;
    font-weight: normal;
    line-height: 1rem;
    padding: 0.5rem;
    text-shadow: 4px 4px 4px #aaa;
}
.notification-container {
    border-radius: 5px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 1rem;
    height: 7rem;
}
.notification-container p {
	margin-top: 1.5rem;
} 
.notification fieldset{
    border: 1px solid #000000;
    border-radius: 5px;
    background: #334d38 none repeat scroll 0 0;
    color: #fffff0;
    width: 60%;
    height: auto;
    text-align:left;
}
.notification fieldset p {
    line-height: 1;
    margin-bottom: 0.5rem;
}
.notification .notification_items,
.notification .checkout-notification{
	list-style-type: none;
}
.notification .notification_item{

}
img[name="product_details_image"] {
    padding: 0rem;
}

</style>
<script type="text/javascript" charset="utf-8">
   
   		
        $(document).ready(function(){
        
        });
        

</script>
<div id="notification_modal" class="notification-modal reveal-modal large-10 small-10 medium-10 columns color-pastel-green" data-reveal data-reveal-init data-options="close_on_background_click:true; close_on_esc: true; multiple_opened:true;">
	<a class="close-reveal-modal close">X</a>

	<div class="notification">	
		<div align="center" class="row">
			<div class="small-12 columns">
				<img class="effect1-black" style="display:inline-block;margin-top:1.5rem;margin-right:2rem;width:12%;" src="/images/notification.png"> 
				<h2>Notifications</h2>
				<div class="notification-container color-ivory-white effect1-black">
					{% if notification_item_count > 0 %}	
						<p> You have {{  notification_item_count }} {% if  notification_item_count == 1 %} notification{% else %} notifications{% endif %}. </p>
					{% else %}	
						<p> There are no notifications at this time. </p>
					{% endif %}
				</div>
			</div>
		 </div>

		 <div class="row">
			<div class="large-12 columns">

			</div>
		 </div>

		 <div class="row" align="center">
			<div class="small-12 columns">

			</div>
		</div>	
	</div>
</div>
