
<style>
.page-body {
	margin-top: 2rem;
}
.logo-container {
	margin-left: -4rem;
}
.lg-orbit {
	border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 2.5rem;
    padding: 2.5rem 2.5rem 0rem;
}
.room {
	color: #DAF7A6 !important;
}

</style>

<div class="row hide-for-small-only">
    <div class="large-12 columns">

		<div class="lg-orbit effect3d">
			<ul id="featured-products" data-orbit>
			{% for key, kiosk_product_image in kiosk_product_images %}
				<li class="room">
			        <a href="/user/product-bookmark/view/{{ kiosk_product_image.key }}"><img class="kiosk" src="{{ kiosk_product_image.path }}/{{ kiosk_product_image.product_images[0].filename }}" alt="slide {{ key }}" /></a>
			        <div class="orbit-caption">
			            <a href="/api/product/{{ kiosk_product_image.guid }}">{{ kiosk_product_image.name }} By {{ kiosk_product_image.provided_by }}. {{ kiosk_product_image.caption }}</a>
			        </div>
			    </li>
			{% endfor %}
			</ul>
		</div>
    </div>
</div>
