<style>
.password-reset-model {
	padding: 1.5rem;
	width: 50%;
}
.password-reset-model, 
.password-reset-model h2, 
.password-reset-model .form-text {
	background: #c5e5ab none repeat scroll 0 0;
	font-family: "Raleway",sans-serif !important;
	font-size: 0.9rem;
	font-weight: normal;
	line-height: 1rem;
	color: #719e40 !important;
}
.password-reset-form-container {
    border-radius: 5px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 1rem;
}
.error-message {
	display: block;
}
.password-reset-model h2 {
    display: inline;
    font-size: 2rem;
    padding: 0.5rem;
    text-shadow: 4px 4px 4px #aaa;
    z-index: 100;
}
.password-reset-logo {
	vertical-align: middle;
	width: 5rem;
}
.password-reset-model input[type="email"] {
	
	margin-left: 0.2rem;
    width:  95%;
    
}
small.error {
	margin-left: 0.2rem;
    width: 95%;
}
.close {
	background: #abc894 none repeat scroll 0 0;
	color: #719e40 !important;
	line-height: 25px !important;
	position: absolute !important;
	right: -12px !important;
	text-align: center !important;
	top: -10px !important;
	width: 24px !important;
	text-decoration: none !important;
	font-size: 1rem !important;
	font-weight: bold !important;
	-webkit-border-radius: 12px !important;
	-moz-border-radius: 12px !important;
	border-radius: 12px !important;
	-moz-box-shadow: 1px 1px 3px #000 !important;
	-webkit-box-shadow: 1px 1px 3px #000 !important;
	box-shadow: 1px 1px 3px #000 !important;
}
.close:hover {
	background: #DAF7A6 none repeat scroll 0 0;
	color: #abc894 !important; 
}
</style>

<script type="text/javascript" charset="utf-8">         
	$(document).ready(function(){
		$('#password-reset_form').submit(function( e ) {
			console.log('Reset Password');		
			e.preventDefault();

			var invalid_fields = $(this).find('[data-invalid]');
	                	
	        if( invalid_fields.length === 0 ){ 
				console.log('password reset form is valid');
				window.parent.reset_password($(this));
			} else {
				console.log(invalid_fields);						
			}
	    });	
	});		
</script>
        					
<div id="password_reset_modal" class="password-reset-model reveal-modal large-10 small-10 medium-10 columns" data-reveal data-reveal-init data-options="close_on_background_click:false; close_on_esc: false; multiple_opened:true;">
	<a class="close-reveal-modal close">X</a>
	<div align="center"><img class="effect1-black" style="display:inline-block;margin-top:1.5rem;margin-right:2rem;width:12%;" src="/images/password.png"> <h2>Forgot your password?</h2></div>
	
	<form id="password-reset_form" data-abide>
		<div class="password-reset-form-container color-ivory-white effect1">
			<div class="row">
				<div class="large-12 large-centered columns">
					<div id="password-reset-message-container">
			        	<span id="password-reset-message"></span>
			        </div>					
				</div>
			</div>	
			<div class="row">
				<div class="small-12 columns">	     
					<input id="email" type="email" name="email" placeholder="Email used for registration" required />
					<small id="error-message" class="error error-message">Email address is required.</small>
			  	</div>
			</div>
		</div>
		<div class="row">
			<div class="small-12 small-centered columns">
				<button id="password-reset-submit" type="submit" class="button small effect1">Find My Account</button>
		  	</div>
		</div>
	</form>								    	
</div>
