{% set max_columns = "3" %}
{% set max_texted_length = "20" %}


<style>

h5, p {
	margin-left: 0.5rem;
}
.lg-product-column {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5rem 1.5rem 0.5rem;
    position: relative;
    width:100%;
    max-width:20rem;
}
.lg-product-column .product-share { 
	background: #DAF7A6 none repeat scroll 0 0 !important;
    right: 1.5rem;
    top: -1rem;
}
.lg-product-view {
    /* border-radius: 5px; */
	margin: 0.5rem;
    /*padding: 0.5rem 0.5rem 0.1rem;*/
}

</style>
{% set counter = 0 %}
{% for key, featured_product_image in featured_product_images %}
    {% if not (loop.index0 % max_columns) %}
	<div class="row">
	{% set counter = counter + 1 %}
	{% set accordion_counter = counter  %}
	<div id="product_accordion_{{ accordion_counter }}"></div>
	{% endif %}
		<div id="{{ featured_product_image.guid }}" class="large-4 columns left">
			<div class="lg-product-column effect1">
				<!-- Share Button -->
				<!--
				<div style="float:right;">
					<div  data-tooltip aria-haspopup="true" title="Share" class="product-share has-tip tip-right"><a id="{{ featured_product_image.key }}" class="share-button"><i class="fi-share top-bar-icon-style"></i></a></div>
				</div>
				-->
				<div class="lg-product-view {{ featured_product_image.product_images[1].backdrop_style }} effect3d">
					<a data-tooltip aria-haspopup="true" class="has-tip tip-left" title="Click for Details" href="#" onClick="return get_product_details('product', '{{ loop.index }}', '{{ accordion_counter }}', '{{ featured_product_image }}');"><img src="{{ featured_product_image.path }}/{{ featured_product_image.product_images[1].filename }}" alt="{{ featured_product_image.name }}" />
					<h5>{{ featured_product_image.name|length > max_texted_length ? featured_product_image.name|slice(0, max_texted_length) ~ '...' : featured_product_image.name  }}</h5>
					<!-- <p>Price ${{ featured_product_image.price }}</p> -->
					<p><b>Staus: </b> {{ featured_product_image.status }}</p></a>
				</div>
				<!--
				<div style="margin-bottom: 1rem;" class="lg-product-view {{ featured_product_image.product_images[1].backdrop_style }} effect3d">
					<a href="#">
					<img src="{{ featured_product_image.path }}/{{ featured_product_image.product_images[1].filename }}" alt="{{ featured_product_image.name }}" />
					<p><br/></p></a>
				</div>
				-->
				<!-- <a id="{{ featured_product_image.guid }}" href="#" class="button small effect1 buy-now">Buy</a> -->
			</div>
		</div>
    {% if (loop.index % (max_columns - 1)) and loop.last %}
		<!-- loop.index {{ (max_columns - 1) }} and last -->
    {% endif %}
    {% if (loop.index % max_columns) and loop.last %}
      <!-- loop.index {{ max_columns }} and last -->
    {% endif %}
    {% if not (loop.index % max_columns) or loop.last %}
	</div>
	{% include 'product-details.twig' %}
	<script type="text/javascript" charset="utf-8">
		reset_accordion({{ accordion_counter }});
	</script>
	{% endif %}
{% endfor %}
<script type="text/javascript" charset="utf-8">
	set_accordion_count({{ counter }});
</script>