
<style>
.accordion {
	/*display: none;
	overflow:hidden;*/
	min-height: 30rem;
    width: 100%;
    z-index: 2;
}
.product-details-canvas {
    margin-top: 0rem;
    margin-bottom: 0rem;
    position: relative;
    z-index: 3;
}
.product-details,
.product-details-view {
	background: #334d38 none repeat scroll 0 0;
	/* background: #100c08; */
    color: #fffff0;
    min-height: 25rem;
    width: 100%;
    padding: 1.5rem;
    z-index: 4;
}
.product-pointer-up {
    left: 8rem;
    position: relative;
    cursor: pointer;
    top: 0.3rem;
	-moz-box-shadow: 1px 1px 3px #000 !important;
	-webkit-box-shadow: 1px 1px 3px #000 !important;
	box-shadow: 1px 1px 3px #000 !important;
    z-index: 5;
}
.product-pointer-down {
    left: 8rem;
    position: relative;
    cursor: pointer;
    bottom: 0.3rem;
	-moz-box-shadow: 1px 1px 3px #000 !important;
	-webkit-box-shadow: 1px 1px 3px #000 !important;
	box-shadow: 1px 1px 3px #000 !important;
    z-index: 5;
}
.product-details-canvas .close {
	background: #334d38 none repeat scroll 0 0;
	color: #FFFFF0 !important;
	line-height: 25px !important;
	position: absolute !important;
	right: -6px !important;
	text-align: center !important;
	top: 22px !important;
	width: 24px !important;
	text-decoration: none !important;
	font-size: 1rem !important;
	font-weight: bold !important;
	-webkit-border-radius: 12px !important;
	-moz-border-radius: 12px !important;
	border-radius: 12px !important;
	-moz-box-shadow: 1px 1px 3px #000 !important;
	-webkit-box-shadow: 1px 1px 3px #000 !important;
	box-shadow: 1px 1px 3px #000 !important;
	z-index: 5;
}
.product-details-canvas .close:hover {
	background: #DAF7A6 none repeat scroll 0 0;
	color: #abc894 !important; 
}
.product-details-canvas .slider {
	width: 98%; height: 30rem;
	overflow: hidden;
	position: relative; /* for overflow: hidden to work in IE7 */
}
.product-details-canvas .slider > ul {
	/* styled by JS to match the added width and height of all <li>’s */
	position: relative;
	-webkit-transition: .5s left;
	-moz-transition: .5s left;
	-ms-transition: .5s left;
	-o-transition: .5s left;
	
	list-style: none;
	margin: 0; padding: 0;
}
.product-details-canvas .slider > ul > li {
	float: left;
	width: 100%; 
	min-height: 30rem;
}
.product-details-view fieldset {
    border: 1px solid #ddd;
    margin: 1.5rem;
    padding: 1.25rem;
    float: right;
    width: 60%;
}
.product-details-view fieldset p {
	margin-bottom: 1.0rem;
}
.product-details-view .product_details_image {
	width: 300px;
}
.product-details-view.product_details_image  img {
    width: 100%;
    height: auto;
}
img[name="product_details_image"] {
	padding: 0.2rem !important;
}
.product-details-view .product-share { 
    background: #daf7a6 none repeat scroll 0 0 !important;
    right: 2.5rem;
    top: 3.5rem;
}
</style>


<script type="text/javascript" charset="utf-8">

	$(document).ready(function(){
			
	    $( window ).load(function(){     

        });
	});	

</script>

<div id="accordion_{{ accordion_counter }}" class="accordion">
	<div class="product-details-canvas">
		<div align="right"><a href="#" onClick="toggle_product_details({{ accordion_counter }});" class="close">X</a></div>
		<img id="accordion_{{ accordion_counter }}_arrow_up" onClick="toggle_product_details({{ accordion_counter }});" class="product-pointer-up" src="/images/product-pointer-up.png" />
	
		       	<div class="product-details-view">
	       			 <!-- Share Button -->
	       			 <!--
					 <div style="float:right;">
						<div data-tooltip aria-haspopup="true" title="Share" class="product-share has-tip tip-right"><a id="{{ featured_product_image.key }}" href="#" class="share-button"><i class="fi-share top-bar-icon-style"></i></a></div>
					 </div>
					 -->
					 <div class="product-details-image-canvas">	 
						 <a id="{{ featured_product_image.guid }}" data-tooltip aria-haspopup="true" title="Click to Enlarge" class="product_details_lg_image has-tip tip-left" href="/user/product-bookmark/view/{{ featured_product_image.key }}" class="product_details_image" title="">
							 <img id="product_details_image" style="display:inline" name="product_details_image" src="{{ featured_product_image.path }}/{{ featured_product_image.product_images[0].filename }}" alt="{{ featured_product_image.name }}" />
						 </a>
						 <fieldset>
						    <legend class="product-details-legend-name">{{ featured_product_image.name }}</legend>
						    <b class="product-details-product-name" style="font-size:1.25rem;line-height:1.50;">{{ featured_product_image.name }}</b><br/>
						    <p class="product-details-product-caption">{{ featured_product_image.caption }}<p/>
						    <i class="product-details-product-provided_by" style="margin-top:0rem;margin-left:1rem;font-size:0.75rem;">By The {{ featured_product_image.provided_by }} Collection</i><br/><br/>
						    <p class="product-details-product-description">{{ featured_product_image.description }}</p>
						    <span class="product-details-product-status">Status: {{ featured_product_image.status }}</span><br/>
						    <!-- <span class="product-details-product-price">Price: {{ featured_product_image.price }}</span><br/><br/> -->
						    <p class="product-details-product-number" style="margin-left:0.25rem;margin-bottom:0rem;font-size:0.70rem;">product #: {{ featured_product_image.catalog_id }} : {{ featured_product_image.id }} : {{ featured_product_image.guid }}</p>
						  	<!-- <div class="product-details-product-buy-now-button"></div> -->
						  </fieldset>
					 </div>
		       	</div>

	</div>
</div>