{% set max_columns = "3" %}
{% set max_title_length = "24" %}
{% set max_description_length = "110" %}


<style>
.sm-product-container {
    display: inline-block;
    margin-bottom: 1rem;
    margin-right: 2rem;
    margin-top: 1rem;
    width: 100%;
    
}
.media-object {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin: 0 auto;
    padding: 0.15rem 0.15rem 0rem;
    min-height: 10rem;
    width:100%;
}
.media-object label {
	display: inline-block;
	color: #fffff0;
	font-size: 1rem;
}
.media-object p {
    color: #fffff0;
    font-size: 0.75rem;
    margin-top: 0rem;
    max-height: 6rem;
    padding: 0.5rem;
    word-wrap: break-word;
    /*overflow-y: scroll;*/
}
.media-object a img {
	float: left;
    border-radius: 5px;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
	padding: 0.1rem;
	position: relative;
	min-width: 35px;
}

.product-list { 
	margin-top: 0.5rem;
	margin-left -0.5rem;
	padding: 0,25rem;
	width: 100%; 
}
.product-list ul { 
	list-style:none; 
}
.product-list ul li { 
	font-family:Georgia,serif,Times; 
	font-size: 0.75rem;
}
.product-list ul li { 
	background-color: transparent;
	display: block; 
	width: 100%; 
	height: 2.25rem;  
	padding-left: 0.1rem;
    text-decoration: none; 
    color: #fffff0; 
}
.product-list ul li:hover {  
	-moz-transform: rotate(-5deg); 
	-moz-box-shadow: 10px 10px 20px #000000;
  	-webkit-transform: rotate(-5deg); 
  	-webkit-box-shadow: 10px 10px 20px #000000;
  	transform: rotate(-5deg); 
  	box-shadow: 10px 10px 20px #000000; 
}
.product-buy-button {
	margin-top: -1rem;
	margin-right: 2rem;
	text-align: right;
}
.effect1-black {
   box-shadow: 0 10px 6px -6px #000;
}
.scroll
{
    max-height: 120px;
    overflow-y: scroll;
}
.lg-product-column .product-share { 
    right: 1.5rem;
    top: -1rem;
}
.sm-product-container .product-share { 
	background: #abc894 none repeat scroll 0 0 !important;
    right: 1.5rem;
    top: -0.25rem;
}
</style>

<script type="text/javascript" charset="utf-8">         
	$(document).ready(function(){
		$('#product_sm_link').click(function( e ) { 
			e.preventDefault(); 
	    });	
	});		
</script>
{% set counter = 0 %}            
{% for key, featured_product_image in featured_product_images %}
    {% if not (loop.index0 % max_columns) %}
	<div class="row">
	{% set counter = counter + 1 %}
	{% set accordion_counter = counter  %}
	<div id="product_accordion_{{ accordion_counter }}"></div>
	{% endif %}
	<div class="medium-4 columns left">
		<div class="sm-product-container">
			<!-- Share Button -->
			<!--
			<div style="float:right;">
				<div  data-tooltip aria-haspopup="true" title="Share" class="product-share has-tip tip-right"><a id="{{ featured_product_image.key }}" class="share-button"><i class="fi-share top-bar-icon-style"></i></a></div>
			</div>
			-->
			<div class="media-object effect1-black">	
				<a id="product_sm_link" data-tooltip aria-haspopup="true" class="has-tip tip-left" title="Click for Details" href="#" onClick="return get_product_details('search', '{{ loop.index }}', '{{ accordion_counter }}', '{{ featured_product_image }}');">
					<label>{{ featured_product_image.name|length > max_title_length ? featured_product_image.name|slice(0, max_title_length) ~ '...' : featured_product_image.name  }}</label>
					
					<div class="scroll">
						<p>
							<img class="{{ featured_product_image.product_images[2].backdrop_style }}" src="{{ featured_product_image.path }}/{{ featured_product_image.product_images[2].filename }}" alt="" />
							{% set product_description = featured_product_image.caption ~ '  ' ~ featured_product_image.description %}
							{{ product_description |length > max_description_length ? product_description|slice(0, max_description_length) ~ '...' : product_description  }}
						</p>
					</div>

					<div class="product-list">
						<ul>
							<li> <b>Provided By: </b> <label>{{ featured_product_image.provided_by }}</label></li>
							<li> <b>Staus: </b> <label>{{ featured_product_image.status }}</label></li>
							<!-- <li> <b>Price: </b> <label> <i class="fi-dollar"></i> &nbsp;{{ featured_product_image.price }}</label></li> -->
						</ul>
					</div>
					<!--
					<div class="product-buy-button">
						<a id="{{ featured_product_image.guid }}" href="#" class="button small effect1-black buy-now">Buy</a>
					</div>
					-->
				</a>
			</div>
			
		 </div>
	</div>
    {% if (loop.index % (max_columns - 1)) and loop.last %}
		<!-- loop.index {{ (max_columns - 1) }} and last -->
    {% endif %}
    {% if (loop.index % max_columns) and loop.last %}
      <!-- loop.index {{ max_columns }} and last -->
    {% endif %}
    {% if not (loop.index % max_columns) or loop.last %}
	</div>
	{% include 'product-search-details.twig' %}
	<script type="text/javascript" charset="utf-8">
		reset_accordion({{ accordion_counter }});
	</script>
	{% endif %}
{% endfor %}
<script type="text/javascript" charset="utf-8">
	set_accordion_count({{ counter }});
</script>
