<!DOCTYPE html>
<html class="no-js" lang="en">

{% include 'header.twig' %}

<style>
.container {
    margin-top: -1rem !important;
}
.product-details-canvas {
	position: absolute;
	top: 7.5rem;
	left: 15rem;
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.2) !important;
    max-width: 30rem;
    min-width: 250px;
    height: auto;
}
.product-details-view {
	margin: 0.5rem;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.2) !important;
    color: #719e40;
}
.product-details-view fieldset {
    border: 1px solid #fffff0;
    border-radius: 5px;
    margin: 0.5rem;
    padding: 0.5rem;
    color: #fffff0;
    z-index: 1;
}
.product-details-view fieldset p {
	margin-bottom: 1.0rem;
}
div.view_image_container {
	margin-top: 6rem;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 6rem;
	padding: 1rem;
}
img {
    margin-left: auto;
	margin-right: auto;
 	max-width: 100%;
	height: auto;
}
img:not(.logo-image ):hover { transform: scale(1.1); }
img.image-view:hover { transform: scale(2.2); }
.page-footer-cover {
    margin-top: -1rem !important;
}
.product-details-canvas .close {
	background-color: rgba(0, 0, 0, 0.4) !important;
	color: #FFFFF0 !important;
	line-height: 25px !important;
	position: absolute !important;
	right: -15px !important;
	text-align: center !important;
	top: -10px !important;
	width: 24px !important;
	text-decoration: none !important;
	font-size: 1rem !important;
	font-weight: bold !important;
	-webkit-border-radius: 12px !important;
	-moz-border-radius: 12px !important;
	border-radius: 12px !important;
	-moz-box-shadow: 1px 1px 3px #000 !important;
	-webkit-box-shadow: 1px 1px 3px #000 !important;
	box-shadow: 1px 1px 3px #000 !important;
	z-index: 5;
}
.product-details-canvas .close:hover {
	background-color: rgba(0, 0, 0, 0.2) !important;
	color: #000000 !important; 
}
</style>


<script type="text/javascript" charset="utf-8">

	$(document).ready(function(){
		
		$( '#view_image' ).attr("src",'{{ featured_product_image.path}}/{{ featured_product_image.product_images[1].filename }}');
		$( '#background' ).addClass('{{ featured_product_image.product_images[1].backdrop_style }}');
	    
	    $( window ).load(function() {
	    		$("#product_badge").draggable();
	    		$("#view_image_container").draggable();
	    		//resposive_info($( window ));
	    		create_bookmark(location.href,'{{ featured_product_image.name }}');
		});
		
		$(window).on('resize', function(){
			//resposive_info($(this));
		});
	});	
	
	function resposive_info(win){
	
		var top_offset = "5rem";
		var left_offset = "10rem";
		
		if (win.width() <= 240) {
		    // do something for small screens
		    top_offset = "0.5rem";
			left_offset = "0.5rem";
		}
		else if (win.width() > 240 && win.width() < 768) {
		    // do something for small screens
		    top_offset = "1rem";
			left_offset = "2rem";
		}
		else if (win.width() >= 768 &&  win.width() <= 992) {
		    // do something for medium screens
		   	top_offset = "3.5rem";
			left_offset = "3rem";
		}
		else if (win.width() > 992 &&  win.width() <= 1200) {
		    // do something for big screens
		    top_offset = "5rem";
			left_offset = "10rem";
		}
		else  {
		    // do something for huge screens
		    top_offset = "7rem";
			left_offset = "15rem";
		}
			
		$("#product_badge").draggable().css({ "top": top_offset, "left": left_offset });
	}
	
	function toggle_product_details() {
	 	if($( '#product_badge' ).is(':hidden')){
	 		$( '#product_badge' ).show();
	 	} else {
	 		$( '#product_badge' ).hide();
	 	}
	}
	
	function create_bookmark(sURL,sTitle) {
		console.log('URL '+sURL+' Title '+sTitle);
		 if (document.all && window.external) {
		 	window.external.AddFavorite (sURL,sTitle);
		 }
		 else if (window.sidebar && window.sidebar.addPanel) { 
		 	window.sidebar.addPanel(sTitle,sURL,'');
		 } 
		 else {
		 	var message = '<p style="color:719e40;">Press ' + ((navigator.userAgent.toLowerCase().indexOf('mac') != - 1 ? 'Command/Cmd' : 'CTRL') + ' + D to bookmark this page.<p>');

		    swal({   title: '<h3style="color:719e40;">Bookmark!<h3>',   text: message,   imageUrl: "/images/bookmark.png", timer: 5000, html: true });
		 }
	 }
		
</script>
<div id="background" style="margin: 0 auto;padding:1rem;width:100%;height:100%;" >
	<a style="float:right;margin-right:4rem;width: 3rem;z-index:10;" href="/"><img data-tooltip aria-haspopup="true" title="Click for Papi's Corner" class="has-tip tip-left" src="/images/home.png" /></a>
	<a style="float:right;z-index:10;" href="#" onClick="toggle_product_details();"><img data-tooltip aria-haspopup="true" title="Click for Information" class="has-tip tip-left"  src="/images/information.png" /></a>

	<div id="view_image_container">
		<div align="center" class="view_image_container">
				<img id="view_image" class="image-view effect1-black" src="/images/templates/watermark-transparent-room-870x400.png">
		</div>
	</div>
	
	<div id="product_badge" data-tooltip aria-haspopup="true" title="Click & Drag to Move" class="product-details-canvas has-tip">
		<div align="right"><a href="#" onClick="toggle_product_details();" class="close">X</a></div>

	   	<div class="product-details-view">
			 <fieldset>
			    <legend class="product-details-legend-name">{{ featured_product_image.name }}</legend>
			    <b class="product-details-product-name" style="font-size:1.25rem;line-height:1.50;">{{ featured_product_image.name }}</b><br/>
			    <p class="product-details-product-caption">{{ featured_product_image.caption }}<p/>
			    <i class="product-details-product-provided_by" style="margin-top:0rem;margin-left:1rem;font-size:0.75rem;">By The {{ featured_product_image.provided_by }} Collection</i><br/><br/>
			    <p class="product-details-product-description">{{ featured_product_image.description }}</p>
			    <span class="product-details-product-status">Status: {{ featured_product_image.status }}</span><br/>
			    <!-- <span class="product-details-product-price">Price: {{ featured_product_image.price }}</span><br/><br/> -->
			    <p class="product-details-product-number" style="margin-left:0.25rem;margin-bottom:0rem;font-size:0.70rem;">product #: {{ featured_product_image.catalog_id }} : {{ featured_product_image.id }} : {{ featured_product_image.guid }}</p>
			  	<div class="product-details-product-buy-now-button"></div>
			  </fieldset>
	   	</div>
	</div>
</div>

{% include 'footer.twig' %}

</html>