
<style>

.product-model {
	/*position: fixed;*/
}
.product-model .product-model-view {
	width:100%;
	min-height: 20rem;
	border: 0;
	scroll: 0;
	overflow: hidden !important;	
}

.product-model .close {
	background-color: rgba(0, 0, 0, 0.4) !important;
	color: #FFFFF0 !important;
	line-height: 25px !important;
	position: absolute !important;
	right: -15px !important;
	text-align: center !important;
	top: -10px !important;
	width: 24px !important;
	text-decoration: none !important;
	font-size: 1rem !important;
	font-weight: bold !important;
	-webkit-border-radius: 12px !important;
	-moz-border-radius: 12px !important;
	border-radius: 12px !important;
	-moz-box-shadow: 1px 1px 3px #000 !important;
	-webkit-box-shadow: 1px 1px 3px #000 !important;
	box-shadow: 1px 1px 3px #000 !important;
	z-index: 5;
}
.product-model .close:hover {
	background-color: rgba(0, 0, 0, 0.2) !important;
	color: #000000 !important; 
}

</style>
<script type="text/javascript" charset="utf-8">

	$(document).ready(function(){

		$('#product_modal_view').load(function () {
		    $(this).height($(this).contents().height());
		    $(this).width('100%');
		});
		
		$('#product_modal_view').attr("src", '/viewer.html');
	});
	
</script>	
		
<div id="product_modal" style="max-width: 75.5rem;width: 90%;" class="product-model reveal-modal large-10 small-10 medium-10 columns color-pastel-green" data-reveal data-reveal-init data-options="close_on_background_click:true; close_on_esc: false; multiple_opened:true;">
	<a class="close-reveal-modal close">X</a>
	<div style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;">
		<iframe id="product_modal_view" class="product-model-view effect5" src="/viewer.html"></iframe>
	</div>
</div>
