<!DOCTYPE html>
<html class="no-js" lang="en">

<link href="{{ base_url() }}/css/site.css" rel="stylesheet" type="text/css" />
<link href="{{ base_url() }}/css/shadow-box.css" rel="stylesheet" type="text/css" />
<link href="{{ base_url() }}/css/devices/media-queries.css" rel="stylesheet" />
<link href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/normalize.min.css" rel="stylesheet" type="text/css" />
<link href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/foundation.min.css" rel="stylesheet" type="text/css" />
		
<style>
.container {
    margin-top: -1rem !important;
}
.product-details-canvas {
	position: absolute;
	top: 7.5rem;
	left: 15rem;
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.2) !important;
    max-width: 30rem;
    min-width: 250px;
    height: auto;
}
.product-details-view {
	margin: 0.5rem;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.2) !important;
    color: #719e40;
}
.product-details-view fieldset {
    border: 1px solid #fffff0;
    border-radius: 5px;
    margin: 0.5rem;
    padding: 0.5rem;
    color: #fffff0;
    z-index: 1;
}
.product-details-view fieldset p {
	margin-bottom: 1.0rem;
}
div.view_image_container {
	margin-top: 5rem;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5rem;
	padding: 1rem;
}
img {
    margin-left: auto;
	margin-right: auto;
 	max-width: 100%;
	height: auto;
}
img:not(.logo-image):not(.share-button):hover { transform: scale(1.4); }
.page-footer-cover {
    margin-top: -1rem !important;
}
.product-details-canvas .close {
	background-color: rgba(0, 0, 0, 0.4) !important;
	color: #FFFFF0 !important;
	line-height: 25px !important;
	position: absolute !important;
	right: -15px !important;
	text-align: center !important;
	top: -10px !important;
	width: 24px !important;
	text-decoration: none !important;
	font-size: 1rem !important;
	font-weight: bold !important;
	-webkit-border-radius: 12px !important;
	-moz-border-radius: 12px !important;
	border-radius: 12px !important;
	-moz-box-shadow: 1px 1px 3px #000 !important;
	-webkit-box-shadow: 1px 1px 3px #000 !important;
	box-shadow: 1px 1px 3px #000 !important;
	z-index: 5;
}
.product-details-canvas .close:hover {
	background-color: rgba(0, 0, 0, 0.2) !important;
	color: #000000 !important; 
}
.product-details-product-share-button a {
    color: #008cba; !important;
    height: 100%;
    line-height: inherit;
    text-decoration: none;
}
.product-share {
    background: #daf7a6 none repeat scroll 0 0 !important;
    height: auto;
    padding: 0.5rem;
    right: 15rem;
    top: 5.5rem;
    width: 2.5rem;
}
</style>

<script src="{{ base_url() }}/js/accordion.js" type="text/javascript" charset="utf-8" ></script>
<script src="//code.jquery.com/jquery-1.11.2.min.js" type="text/javascript" charset="utf-8" ></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js" type="text/javascript" charset="utf-8" ></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"  charset="utf-8" ></script>

<script type="text/javascript" charset="utf-8">

	$(document).ready(function(){
		
		$( '#view_image' ).attr("src",'{{ featured_product_image.path}}/{{ featured_product_image.product_images[1].filename }}');
		$( '#background' ).addClass('{{ featured_product_image.product_images[1].backdrop_style }}');
	    
	    $( window ).load(function() {
	    		$("#product_badge").draggable();
	    		$("#view_image_container").draggable();
	    		//resposive_info($( window ));
		});
		
		$(window).on('resize', function(){
			//resposive_info($(this));
		});
	});	
	
	function resposive_info(win){
	
		var top_offset = "5rem";
		var left_offset = "10rem";
		
		if (win.width() <= 240) {
		    // do something for small screens
		    top_offset = "0.5rem";
			left_offset = "0.5rem";
		}
		else if (win.width() > 240 && win.width() < 768) {
		    // do something for small screens
		    top_offset = "1rem";
			left_offset = "2rem";
		}
		else if (win.width() >= 768 &&  win.width() <= 992) {
		    // do something for medium screens
		   	top_offset = "3.5rem";
			left_offset = "3rem";
		}
		else if (win.width() > 992 &&  win.width() <= 1200) {
		    // do something for big screens
		    top_offset = "5rem";
			left_offset = "10rem";
		}
		else  {
		    // do something for huge screens
		    top_offset = "7rem";
			left_offset = "15rem";
		}
			
		$("#product_badge").draggable().css({ "top": top_offset, "left": left_offset });
	}
	
	function toggle_product_details() {
	 	if($( '#product_badge' ).is(':hidden')){
	 		$( '#product_badge' ).show();
	 	} else {
	 		$( '#product_badge' ).hide();
	 	}
	}

</script>
</head>
<body>
<div id="background" style="margin: 0 auto;padding:1rem;width:100%;height:100%;" >
	<!--
	<div style="float:right;" class="top-bar-icon-style">
		<div  data-tooltip aria-haspopup="true" title="Share" class="product-details-product-share-button product-share has-tip tip-left"><a id="{{ featured_product_image.key }}" href="#" class="share-button"><img style="z-index:10;" src="/images/share.png"></a></div>
	</div> 
	<div class="product-details-product-buy-now-button" style="position:fixed;margin-top:1rem;width:100%;text-align:right;">
		<a id="{{ featured_product_image.guid }}" href="#" class="buy-now"><img style="margin-right:5rem;width:10rem;z-index:8;" src="/images/buy-now-button.png"></a>
	</div>
	-->
	<a style="float:right;z-index:10;" href="#" onClick="toggle_product_details();"><img data-tooltip aria-haspopup="true" title="Click for Information" class="share-button has-tip tip-left"  src="/images/information.png" /></a>
	
	<div id="view_image_container">
		<div align="center" class="view_image_container">
			<!--
			<div align="right" style="margin-bottom:-0.5rem; margin-right:17%;font-size:2.0rem;">
				<a data-tooltip aria-haspopup="true" class="item has-tip" title="Information" onClick="toggle_product_details();" role="button" tabindex="0" aria-label="Information">
			    	<i class="fi-info top-bar-icon-style"></i>
				</a>
			</div>
			-->
			<img id="view_image" class="image-view effect1-black" src="/images/templates/watermark-transparent-room-870x400.png">
		</div>
	</div>
	
	<div id="product_badge" data-tooltip aria-haspopup="true" title="Click & Drag to Move" class="product-details-canvas has-tip">
		<div align="right"><a href="#" onClick="toggle_product_details();" class="close">X</a></div>

	   	<div class="product-details-view">
			 <fieldset>
			    <legend class="product-details-legend-name">{{ featured_product_image.name }}</legend>
			    <b class="product-details-product-name" style="font-size:1.25rem;line-height:1.50;">{{ featured_product_image.name }}</b><br/>
			    <p class="product-details-product-caption">{{ featured_product_image.caption }}<p/>
			    <i class="product-details-product-provided_by" style="margin-top:0rem;margin-left:1rem;font-size:0.75rem;">By The {{ featured_product_image.provided_by }} Collection</i><br/><br/>
			    <p class="product-details-product-description">{{ featured_product_image.description }}</p>
			    <span class="product-details-product-status">Status: {{ featured_product_image.status }}</span><br/>
			    <!-- <span class="product-details-product-price">Price: {{ featured_product_image.price }}</span><br/><br/> -->
			    <p class="product-details-product-number" style="margin-left:0.25rem;margin-bottom:0rem;font-size:0.70rem;">product #: {{ featured_product_image.catalog_id }} : {{ featured_product_image.id }} : {{ featured_product_image.guid }}</p>
			  	<!-- <div class="product-details-product-buy-now-button"></div> -->
			  </fieldset>
	   	</div>
	</div>
</div>
</body>
</html>