<style>
.registration-model {
	padding: 3rem;
}
.registration-model, 
.registration-model h2, 
.registration-model .form-text {
	background: #c5e5ab none repeat scroll 0 0;
	font-family: "Raleway",sans-serif !important;
	font-size: 0.9rem;
	font-weight: normal;
	line-height: 1rem;
	color: #719e40 !important;
}
.registration-form-container {
    border-radius: 5px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 1rem;
}
.terms-error-box {
	width: 60%;
}
.error-message {
	display: block;
}
.registration-model h2 {
    display: inline;
    font-size: 3rem;
    padding: 0.5rem;
    text-shadow: 4px 4px 4px #aaa;
    z-index: 100;
}
.registration-logo {
	vertical-align: middle;
	width: 5rem;
}
/* Social Media */
.registration-hr {
   	margin-top: 1rem;
    padding: 0;
	border:0px; border-top:1px solid #03C03C;
    width:100%;
    text-align: center;
}
.registration-hr legend {
	margin-left: 45%;
	font-family: "Tangerine",serif;
    font-size: 1.5em;
    font-weight: bold;
}
.registration-social-media {
	/* margin-top: 4rem; */
	margin-top: -1rem;
	margin-bottom 0rem;
}
.registration-social-media-row {
	margin: 0.15rem;
	border-radius: 5px; 
	width: 100%;
}
.registration-social-media-row:hover:not(.title) {
	background-color: rgba(0, 0, 0, 0.2);
}
.registration-social-media a {
	background: none !important;
	margin: 0.5rem;
}
.registration-social-media a:hover {
	background: none !important;
}
.registration-social-media img {
	display: inline;
	margin: 0.5rem;
	height: 2rem;
	width: 2rem;
}
.registration-social-media label {
	background: none !important;
	display: inline;
	margin: 0.5rem;
	font-family: "Lato",sans-serif;
    font-size: 0.75rem !important;
    font-weight: normal;
	text-transform: none !important;
	
}
.close {
	background: #abc894 none repeat scroll 0 0;
	color: #719e40 !important;
	line-height: 25px !important;
	position: absolute !important;
	right: -12px !important;
	text-align: center !important;
	top: -10px !important;
	width: 24px !important;
	text-decoration: none !important;
	font-size: 1rem !important;
	font-weight: bold !important;
	-webkit-border-radius: 12px !important;
	-moz-border-radius: 12px !important;
	border-radius: 12px !important;
	-moz-box-shadow: 1px 1px 3px #000 !important;
	-webkit-box-shadow: 1px 1px 3px #000 !important;
	box-shadow: 1px 1px 3px #000 !important;
}
.close:hover {
	background: #DAF7A6 none repeat scroll 0 0;
	color: #abc894 !important; 
}
small.error {
	text-align: left;
    margin-left: 0rem !important;
    width: 100% !important;
}
</style>
<script type="text/javascript" charset="utf-8">
   
        $(document).ready(function(){
			$('#registration_facebook_signin').on('click', function () {
				window.parent.facebook_login();
			});
			$('#registration_google_plus_signin').on('click', function () {
				window.parent.google_login();
			});
			$('#registration_twitter_signin').on('click', function () {
				window.parent.twitter_login();
			});
        });
        
</script>
        					
<div id="registration_modal" class="registration-model reveal-modal medium" data-reveal data-reveal-init data-options="close_on_background_click:false; close_on_esc: false; multiple_opened:true;">
	<a class="close-reveal-modal close">X</a>
	<div align="center">
		<img class="effect1-black" style="display:inline-block;margin-top:1.5rem;margin-right:2rem;width:12%;" src="/images/signup.png"> 
		<h2>Sign up for an Account</h2>
	</div>
	
	<form id="registration_form" data-abide>
		<div class="row">
			<div class="large-12 large-centered columns">
				<div align="center" id="registration-message-container">
		        	<span id="registration-message"></span>
		        </div>					
			</div>
		</div>	
		<div class="registration-form-container color-ivory-white effect1 show-for-large-only">
			<div class="row">
			 	<div class="small-6 columns">
					<input id="firstname" type="text" name="firstname" placeholder="First Name" required />
					<small id="error-message" class="error error-message" data-error-message="">First name is required.</small>
			    </div>
			   	<div class="small-6 columns">
					<input id="lastname" type="text" name="lastname" placeholder="Last Name" required />
					<small id="error-message" class="error error-message" data-error-message="">Last name is required.</small>
			  	</div>
			</div>
			<div class="row">
				<div class="small-6 columns">	     
					<input id="email" type="email" name="email" placeholder="Email" required />
					<small id="error-message" class="error error-message">Email address is required.</small>
			  	</div>
			  	<div class="small-6 columns">	     
					<input id="confirm-email" type="email" name="confirm-email" data-equalto="email" placeholder="Confirm Email" required />
					<small id="error-message" class="error error-message">Email addresses must match!</small>
			  	</div>
			</div>
			<div class="row">
				<div class="small-6 columns">	     
					<input id="password" type="password" name="password" placeholder="Password" required />
					<small id="error-message" class="error error-message">Password is required</small>
			  	</div>
			  	<div class="small-6 columns">	     
					<input id="confirm-password" type="password" name="confirm-password" data-equalto="password" placeholder="Confirm Password" required />
					<small id="error-message" class="error error-message" data-error-message="">Passwords must match!</small>	
			  	</div>
			</div>
		</div>
		
		
		<div class="registration-form-container color-ivory-white effect1 hide-for-large-only">
			<div class="row">
			 	<div class="small-12 columns">
					<input id="firstname" type="text" name="firstname" placeholder="First Name" required />
					<small id="error-message" class="error error-message" data-error-message="">First name is required.</small>
			    </div>
			</div>
			<div class="row">
			   	<div class="small-12 columns">
					<input id="lastname" type="text" name="lastname" placeholder="Last Name" required />
					<small id="error-message" class="error error-message" data-error-message="">Last name is required.</small>
			  	</div>
			</div>
			<div class="row">
				<div class="small-12 columns">	     
					<input id="email" type="email" name="email" placeholder="Email" required />
					<small id="error-message" class="error error-message">Email address is required.</small>
			  	</div>
			</div>
			<div class="row">
			  	<div class="small-12 columns">	     
					<input id="confirm-email" type="email" name="confirm-email" data-equalto="email" placeholder="Confirm Email" required />
					<small id="error-message" class="error error-message">Email addresses must match!</small>
			  	</div>
			</div>
			<div class="row">
				<div class="small-12 columns">	     
					<input id="password" type="password" name="password" placeholder="Password" required />
					<small id="error-message" class="error error-message">Password is required</small>
			  	</div>
			</div>
			<div class="row">
			  	<div class="small-12 columns">	     
					<input id="confirm-password" type="password" name="confirm-password" data-equalto="password" placeholder="Confirm Password" required />
					<small id="error-message" class="error error-message" data-error-message="">Passwords must match!</small>	
			  	</div>
			</div>
		</div>
		
		<!--
		<div class="row">
			<div class="small-12 columns">
				<small><p class="form-text">By creating an account you have read and agree to the <a href="#" id="terms-conditions" data-reveal-id="terms_conditions_modal" data-reveal>terms and conditions</a>.</p></small>	     
				<input id="terms-agree" type="checkbox" name="terms-agree" required></input><label style="font-weight:bold;text-transform: uppercase;" class="form-text" for="terms-agree">I Agree</label>
				<small id="error-message" class="error error-message terms-error-box" data-error-message="">You must agree to the terms and conditions.</small>	     
		  	</div>
		</div>
		-->
		<div class="row">
			<div class="small-12 small-centered columns">
				<button id="registration-submit" type="submit" class="button small effect1">Create Account</button>
		  	</div>
		</div>
	</form>
    <!-- Social Media -->
    <!--
    <div class="registration-social-media">
    	<div class="registration-social-media-row title">
	    	<fieldset class="registration-hr">
			    <legend>OR</legend>
			</fieldset>
    	</div>
    	<div class="registration-social-media-row effect1">
	        <a id="registration_facebook_signin" href="{{ social_media.facebook.login_url }}"><img src="/images/social-media/facebook-logo-200x200.png" /><label class="color-facebook-font">Sign in with Facebook</label></a>
      	</div>
    	<div class="registration-social-media-row effect1">
    		<a id="registration_twitter_signin" href="{{ social_media.twitter.login_url }}"><img src="/images/social-media/twitter-logo-200x200.png" /><label class="color-twitter-font">Sign in with Twitter</label></a>
	    </div>
    	<div class="registration-social-media-row effect1">
    		<a id="registration_google_plus_signin" href="{{ social_media.google.login_url }}"><img src="/images/social-media/google-plus-logo-200x200.png" /><label class="color-google-plus-font">Sign in with Google +</label></a>
      	</div>
    	<div class="registration-social-media-row effect1">
    		<a id="registration_linkedin_signin" href="#"><img src="/images/social-media/linkedin-logo-200x200.png" /><label class="color-ivory-white-font">Sign in with Linked in</label></a>
      	</div>									      										      										      	
    </div>
    -->								    	
</div>
