<!DOCTYPE html>
<html class="no-js" lang="en">

{% include 'header.twig' %}

<style>
.search-details-canvas {
	margin: 1rem;
	padding: 1rem;
}
.search-results {
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding: 1rem;
}
.search-results h2,
.search-results h2 small {
	color: #fffff0 !important;
    font-family: "Tangerine",serif;
    font-weight: normal;
    position: relative;
    text-shadow: 4px 4px 4px #aaa;
}
.search-results h2 {
	font-size: 2.75em !important;
}
.search-details {
	background: #334d38 none repeat scroll 0 0;
	/* background: #100c08; */
    color: #fffff0;
    min-height: 25rem;
    width: 100%;
    padding: 1.5rem;
    border-radius: 5px;
}
</style>

<div id="page-body" class="row page-body  color-pastel-green">

	
	<div class="row">
		<div class="large-12 columns">
			<div class="search-details-canvas">
				<div class="search-details">
					<div class="search-results"> 
					
						<h2>Search Results for: &nbsp; <small> "{{ search_string }}". </small>
						&nbsp;<small align="right"> {{ featured_product_images|length }} search item(s) were found.</small></h2>
					
					</div>
					
					{% include 'product-sm.twig' %}
					
					{% if featured_product_images|length == 0 %}
					
						<p style="font-size:1.25rem;text-align:center;">Try using a search key word, such as a  person, please or thing.</p>
						
					{% endif %}
				</div>
			</div>
		</div>
	</div>

	
</div>
		
{% include 'footer.twig' %}


</html>
