<style>
.icon-bar{
	display: none;
	postion absolute
	margin: 1rem;
	bottom: 0;
	left: 0;
	width: 20rem;
	height: 3rem;
}
.icon-bar > * {
    display: block;
    float: left;
    font-size: 1rem;
    margin: 0 auto;
    padding: 0.5rem;
    text-align: center;
    width: 25%;
}
.icon-bar > * i {
    font-size: 1rem;
}

</style>

<script type="text/javascript" charset="utf-8">

	   var mouse_is_inside = false;
	
	   var share_key = null;

	   var share_link = location.protocol+'//'+window.location.hostname+'/user/product-bookmark/view/';
	
       $(document).ready(function(){
       
	       $(document).on({
	            mouseenter: function (e) {
	            	console.log('left ' + e.pageX + ' top ' + e.pageY);
	                $( '.icon-bar' ).css({
	                	'position':'absolute',
	                    'left': (e.pageX - 200),
	                    'top': (e.pageY + 1),
	                	'width': '20rem',
	            		'height': '3rem',
	            		'z-index': '20'
	                });
	                $( '.icon-bar' ).show();
	                //$( '.buy-now' ).hide();
	                mouse_is_inside=true;
	                share_key = $(this).attr('id');
	            },
	            mouseleave: function (e) {
	            	mouse_is_inside=false;
	            }
	        }, ".share-button");
	        
	        $("body").mouseup(function(){ 
	            if(! mouse_is_inside){
	            	$('.icon-bar').hide();
	            	//$( '.buy-now' ).show();
	            }
	        });
	   		$( '.social-media-share' ).click(function (e) {
				social_media_share(1, $(this).attr('class'), share_key);
			});
			
			/*
			$( '.item' ).click(function (e) {
				social_media_share(2, $(this).attr('aria-label'));
			});
			
		    $( ".item" ).on("click", ".social-media-share", function() {
		    	social_media_share(3, $(this).attr('class'));
		    });
		    
		   	$( ".icon-bar" ).on("click", ".social-media-share", function() {
		   		social_media_share(4, $(this).attr('class'));
		        return false;
		    });
		    */
	   });
	   
	   function social_media_share(listener, action, guid) {
			console.log(listener+".) Share Papi's Corner Page share using "+action);
			console.log("Share Link "+share_link+guid);
	
			var url = "/api/product/"+guid;
			var share_url = share_link+guid;
			var share_media_provideder = null;
			var classList = action.split(/\s+/);
			$.each(classList, function(index, item) {
			    
			    if(item !== 'social-media-share'){
			    	console.log('Share using ' + item);
			    	share_media_provideder = item;
			    }

			});
			
			$.get(url , function( data ) {
				console.log(data);
				console.log('Post to ' + share_media_provideder);
				
				if(share_media_provideder == 'fi-bookmark'){
					bookmark_link(share_url);
				}
				
				if(share_media_provideder == 'fi-mail'){
					var quoted_name = '"'+data.name+'"';
					email_link("mailto:?Subject=Take a Look at "+quoted_name+" at Papi's Corner&body=To view product "+quoted_name+", please copy and paste link into browser. "+share_link+share_key);
				}
			});
		}
		
		function bookmark_link(url){
			location.href=url;
		}
		
		function email_link(url){
			setTimeout(function(){
			  location.href=url;
			}, 3300);
			popup('<h3style="color:719e40;">Email a Friend!<h3>', '<p style="color:719e40;">Add emails and share!<p>', '/images/e-mail.png', '9000');
		}
		
		function popup(title, message, image, timer){
		
			if(timer)
				swal({   title: title,   text: message,   imageUrl: image, timer: timer, html: true });
			else
				swal({   title: title,   text: message,   imageUrl: image, html: true });
		}	
		
		
	   
</script>

	<div id="share_icon_bar" class="icon-bar five-up" role="navigation">
	  <a data-tooltip aria-haspopup="true" class="item has-tip" title="Bookmark" role="button" tabindex="0" aria-label="Bookmark">
	    <i class="fi-bookmark social-media-share"></i>
	  </a>
	  <a data-tooltip aria-haspopup="true" class="item has-tip" title="E-Mail" role="button" tabindex="0" aria-label="E-Mail">
	    <i class="fi-mail social-media-share"></i>
	  </a>
	  <a data-tooltip aria-haspopup="true" class="item has-tip" title="Facebook" role="button" tabindex="0" aria-label="Facebook">
	    <i class="fi-social-facebook social-media-share"></i>
	  </a>
	  <a data-tooltip aria-haspopup="true" class="item has-tip" title="Twitter" role="button" tabindex="0" aria-label="Twitter">
	    <i class="fi-social-twitter social-media-share"></i>
	  </a>
	  <a data-tooltip aria-haspopup="true" class="item has-tip" title="Google" role="button" tabindex="0" aria-label="Google">
	    <i class="fi-social-google-plus social-media-share"></i>
	  </a>
	</div>
