<style>
.page-body {
    margin-top: 6rem;
}
.shopping-cart-modal {
	background: #c5e5ab none repeat scroll 0 0;
    color: #719e40 !important;
    width:60%;
}
.shopping-cart, 
.shopping-cart h2 {
	margin: 1.5rem;
	font-family: "Raleway",sans-serif !important;
	font-size: 0.9rem;
	font-weight: normal;
}
.shopping-cart h1 {
	margin: 1.5rem;
	font-family: "Raleway",sans-serif !important;
}
.shopping-cart {
	margin: 1rem;
	padding: 1rem;
	min-height: 20rem;
}
.shopping-cart h2 {
	background: #c5e5ab none repeat scroll 0 0;
    display: inline;
    margin-left: 1rem;
    color: #719e40 !important;
    font-family: "Raleway",sans-serif !important;
    font-size: 0.9rem;
    font-weight: normal;
    line-height: 1rem;
    padding: 0.5rem;
    text-shadow: 4px 4px 4px #aaa;
}    
.shopping-cart-container {
    border-radius: 5px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 1rem;
    height: 7rem;
}
.shopping-cart-container p {
	margin-top: 1.5rem;
}
.shopping-cart img { 
	display: block;
	width: 100%;
}
.shopping-cart .bag {
	float: left;
	width: 5rem;
}
.shopping-cart fieldset{
    border: 1px solid #000000;
    border-radius: 5px;
    background: #334d38 none repeat scroll 0 0;
    color: #fffff0;
    width: 100%;
    height: auto;
    text-align:left;
}
.shopping-cart fieldset p {
    line-height: 1;
    margin-bottom: 0.5rem;
}
.shopping-cart .shopping-cart_items,
.shopping-cart .checkout-shopping-cart{
	list-style-type: none;
}
.shopping-cart .shopping-cart_item{

}
img[name="product_details_image"] {
    padding: 0rem;
}
.shopping-cart-stack-bag {
	margin-left: -3rem;
}
</style>
<script type="text/javascript" charset="utf-8">
   
   		var shopping_cart_guid = '{{ shopping_cart.guid }}';
   		
        $(document).ready(function(){
			$( '.product_details_lg_image').on('click', function(e){
				e.preventDefault();
	
				var lg_product_view_url = '/user/product/view/'+this.id;
				console.log("Large Product View Url "+lg_product_view_url);
				$('#product_modal_view').attr("src", lg_product_view_url);
				
				$('#product_modal').foundation('reveal', 'open');
			}); 
        });
        
        function remove_shopping_cart_item(shopping_cart_guid, shopping_cart_item_id) {
			swal(
			{   
					title: "Are you sure?",   
					text: "Remove item from shopping cart.",   
					imageUrl: "/images/shopping-cart/remove_shopping_cart_item.png",   
					showCancelButton: true,   
					confirmButtonColor: "#f04124",   
					confirmButtonText: "Yes, remove it!",   
					closeOnConfirm: true 
					
			}, function(){   
					//Delete Item from Shopping Cart

					url = '/api/user/shopping-cart/'+shopping_cart_guid+'/item/'+shopping_cart_item_id;
					jQuery.ajax({
				        type: "DELETE",
				        url: url,
				        contentType: "application/json; charset=utf-8",
				        dataType: "json",
				        //data: JSON.stringify(payload, null, 2),
				        success: function( response ){
				        	console.log(response);
				        	location.reload();
				        },
				        error: function( response ){
				        	console.log(response)
				        }
				
					});
				
			});
		}
</script>
<div id="shopping_cart_modal" class="shopping-cart-modal reveal-modal color-pastel-green" data-reveal data-reveal-init data-options="close_on_background_click:true; close_on_esc: true; multiple_opened:true;">
	<a class="close-reveal-modal close">X</a>

	<input type="hidden" name="shopping_cart_guid" value="{{ shopping_cart.guid }}" />

	<div class="shopping-cart">	
		<div align="center" class="row">
			<div class="small-12 columns">
				{% if shopping_cart_item_count > 0 %}	
					<img class="effect1-black" style="display:inline-block;margin-top:1.5rem;margin-right:2rem;width:12%;" src="/images/shopping-cart/lg-shopping-cart-full.png"> 
				{% else %}	
					<img class="effect1-black" style="display:inline-block;margin-top:1.5rem;margin-right:2rem;width:12%;" src="/images/shopping-cart/lg-shopping-cart.png"> 
				{% endif %}
				<h2>Shopping Cart</h2>
				<div class="shopping-cart-container color-ivory-white effect1-black">

				{% if shopping_cart_item_count > 0 %}	
					<p> You have {{ shopping_cart_item_count }} {% if shopping_cart_item_count == 1 %} item{% else %} items{% endif %}. </p>
				{% else %}	
					<p> There are no items in your cart at this time. </p>
				{% endif %}

				</div>
			</div>
		</div>
		<!--
		<div class="row">
			<div class="large-12 columns">

			</div>
		</div>
		-->
		<div  align="center" class="row">
			<div class="small-12 columns">
				{% if shopping_cart_item_count > 0 %}
					{% for key, cart_item in shopping_cart.items %}
					<fieldset class="effect1-black">
						<ul id="" class="shopping-cart_items">
							<li class="shopping-cart_item">
							<div class="product-details-image-canvas">
								<a id="{{ cart_item.featured_product_image.guid }}" data-tooltip aria-haspopup="true" title="Click to Enlarge" class="product_details_lg_image has-tip tip-right" href="/user/product-bookmark/view/{{ cart_item.featured_product_image.key }}" title="">
									<img id="product_details_image" style="float:right;display:inline;width:25%;" class="effect1-black" name="product_details_image" src="{{ cart_item.featured_product_image.path }}/{{ cart_item.featured_product_image.product_images[3].filename }}" alt="{{ cart_item.featured_product_image.name }}" />
							 	</a>
						 	</div>
							<b class="product-details-product-name" style="font-size:1.25rem;line-height:1.50;">{{ cart_item.featured_product_image.name }}</b><br/>
						    <p class="product-details-product-caption">{{ cart_item.featured_product_image.caption }}<p/>
						    <i class="product-details-product-provided_by" style="margin-top:0rem;margin-left:1rem;font-size:0.75rem;">By The {{ cart_item.featured_product_image.provided_by }} Collection</i><br/><br/>
						    <p class="product-details-product-description">{{ cart_item.featured_product_image.description }}</p>
						    <span class="product-details-product-status">Status: {{ cart_item.featured_product_image.status }}</span><br/>
						    <span class="product-details-product-price">Price: {{ cart_item.featured_product_image.price }}</span><br/><br/>
						    <p class="product-details-product-number" style="margin-left:0.25rem;margin-bottom:0rem;font-size:0.70rem;">product #: {{ cart_item.featured_product_image.catalog_id }} : {{ cart_item.featured_product_image.id }} : {{ cart_item.featured_product_image.guid }}</p>	
							<a onclick="remove_shopping_cart_item('{{ shopping_cart.guid }}', '{{ cart_item.id }}')" class="remove-shopping-cart-item button alert small effect1-black right" name="remove-shopping-cart-item">Remove</a>
							</li>
						 </ul>
					</fieldset>
					{% endfor %}
					
					<fieldset class="effect1-black" style="background: transparent none repeat scroll 0 0;color: #719e40;">
					<legend class="">Shopping Cart {{ shopping_cart.guid }}</legend>
					<ul id="" class="checkout-shopping-cart">
						<!-- Total -->
						<li class="shopping-cart_total">
						<div style="float:right;margin-right: 5%;margin-bottom: 1rem;margin-top:1rem;">
						<a class="checkout_shopping_cart button success small effect1-black" style="margin:0.5rem;">Checkout</a>
						<a class="checkout_shopping_cart button secondary small effect1-black" style="margin:0.5rem;">Continue Shopping</a>
						</div>
						</li>
					</ul>
					
					</fieldset>
				{% endif %}
			</div>
		 </div>
		 <!--
		 <div class="row" align="center">
			<div class="small-12 columns">

			</div>
		</div>	
		<div class="row">
			<div class="large-12 columns">
								
				<img class="bag" src="/images/shopping-cart/shopping-bag-black.png">
				<img class="shopping-cart-stack-bag" src="/images/shopping-cart/shopping-bag-blue.png">
				<img class="shopping-cart-stack-bag" src="/images/shopping-cart/shopping-bag-red.png">
				<img class="shopping-cart-stack-bag" src="/images/shopping-cart/shopping-bag-lt-blue.png">
				<img class="shopping-cart-stack-bag" src="/images/shopping-cart/shopping-bag-green.png">
				<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="8PNGJYFXJZZQC">
				<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
				<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
				</form>
				
			</div>
		</div>
		-->
	</div>
</div>
