<style>
.terms-conditions-model {
	background: #c5e5ab none repeat scroll 0 0;
} 
.terms-conditions-model h3, 
.terms-conditions-model .form-text {
	font-family: "Raleway",sans-serif !important;
	color: #719e40 !important;
}
.close {
	background: #abc894 none repeat scroll 0 0;
	color: #719e40 !important;
	line-height: 25px !important;
	position: absolute !important;
	right: -12px !important;
	text-align: center !important;
	top: -10px !important;
	width: 24px !important;
	text-decoration: none !important;
	font-size: 1rem !important;
	font-weight: bold !important;
	-webkit-border-radius: 12px !important;
	-moz-border-radius: 12px !important;
	border-radius: 12px !important;
	-moz-box-shadow: 1px 1px 3px #000 !important;
	-webkit-box-shadow: 1px 1px 3px #000 !important;
	box-shadow: 1px 1px 3px #000 !important;
}
.close:hover {
	background: #DAF7A6 none repeat scroll 0 0;
	color: #abc894 !important; 
}
.row-border {
	border: 0.15px solid #03C03C !important;
	border-radius: 5px;
	
}
</style>

<div id="terms_conditions_modal" class="terms-conditions-model reveal-modal large" data-reveal data-reveal-init data-options="multiple_opened:true;">
	<a class="close-reveal-modal close">X</a>
	<div class="row row-border color-ivory-white effect1">
		<div class="small-12 columns">
			<div align="center"><h3>Papi's Corner Terms &amp; Agreements</h3></div>
			<p class="form-text">By creating an account you have read and agree to the <a href="#" id="terms-conditions" data-reveal-id="terms_conditions_modal" data-reveal>terms and conditions</a>.</p>	     
	  	</div>
	</div>
</div>
