{% set notification_item_count = '0' %}
{% set max_texted_length_small = "25" %}
{% set max_texted_length_medium = "15" %}
<style>
/* Style Override */

i {
    display: inline;
}
.container {
	margin-top: 0px !important;
}
.signIn {
	width:  20rem !important;
}
.signOut {
	width:  15rem !important;
}
.message-box {
    /* font-size: 0.6rem !important; */
    font-style: italic !important;
    font-weight: normal !important;
    margin-bottom: 0.1rem !important;
    margin-left: 0.2rem !important;
    margin-top: 0.7rem !important;
    padding: 0.2rem !important;
    text-align: left;
    width: 95% !important;
}
/* border-color:#d6e9c6;
   light-green:#dff0d8  */
   
.page-title-bar-cover {
	background: #abc894 none repeat scroll 0 0;
	width: 100%;
}
.top-bar-icon-style {
    color: #719e40;
    /*font-size: 1.0em;*/
    text-shadow: 0 0 5px  #dff0d8, 
    			 0 0 10px #dff0d8, 
    			 0 0 15px #dff0d8, 
    			 0 0 20px #d6e9c6, 
    			 0 0 30px #d6e9c6, 
    			 0 0 40px #d6e9c6, 
    			 0 0 50px #d6e9c6, 
    			 0 0 75px #d6e9c6;
}
.top-bar-icon-style:hover {
    color: #719e40;
    /*font-size: 1.0em;*/
    text-shadow: 0 0 5px  #fdfd96, 
    			 0 0 10px #fdfd96, 
    			 0 0 15px #fdfd96, 
    			 0 0 20px #DAF7A6, 
    			 0 0 30px #DAF7A6, 
    			 0 0 40px #DAF7A6, 
    			 0 0 50px #DAF7A6, 
    			 0 0 75px #DAF7A6;
}
/* area that is not covered by any menu's items*/ 
.top-bar 
/* logo area */
,.top-bar-section ul li, .top-bar.expanded .title-area 
/* menu item */
,.top-bar-section li:not(.has-form) a:not(.button) 
/* menuitem with dropdown when hovering */
,.top-bar-section ul li:hover:not(.has-form) > a 
{
    background: transparent;
}

.top-bar  {
 	background: #abc894 none repeat scroll 0 0;
}

/* general font and colors */
.top-bar-section ul li > a,
/* topbar H1 name */
.top-bar .name h1 a, 
.top-bar .name h2 a, 
.top-bar .name h3 a, 
.top-bar .name h4 a,  
.top-bar .name span a,
.top-bar .name p a, 
.top-bar .name a {
    color: #719e40;
    /* font-size: 0.8125rem; */
}
.top-bar-section .search-container {
	margin: 0.5rem;
}
.top-bar-section .search input[type="text"] {
    background: #444 url("/images/search-dark.png") no-repeat scroll 10px 6px;
    border: 0 none;
    border-radius: 20px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    color: #777;
    font: bold 12px Arial,Helvetica,sans-serif;
    padding: 6px 15px 6px 35px;
    position: static !important;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    transition: all 0.7s ease 0s;
    width: 15rem;
}
.top-bar-section .search input[type="text"]:focus {
	background: #646d60 url("/images/search-white.png") no-repeat scroll 10px 6px;
    width: 17rem;
}
.top-bar-section .search input[placeholder], 
.top-bar-section .search [placeholder], 
.top-bar-section .search *[placeholder] {
    color: #FFFFF0 !important;
}
.top-bar-section .search input[placeholder]:focus, 
.top-bar-section .search [placeholder]:focus, 
.top-bar-section .search *[placeholder]:focus {
    color: #abc894 !important;
}
.top-bar-section .search input::-webkit-input-placeholder { 
    color:    #FFFFF0;
}
.top-bar-section .search input:-moz-placeholder { 
    color:    #FFFFF0;
}
.top-bar-section .search input::-moz-placeholder { 
    color:    #FFFFF0;
}
.top-bar-section .search input:-ms-input-placeholder { 
    color:    #FFFFF0;
}
.top-bar-section ul {
    background: #abc894 none repeat scroll 0 0;
}
.top-bar-section li:not(.has-form) a:not(.button) {
 	background: #abc894 none repeat scroll 0 0;
 /* line-height: 1.75rem; */
    padding: 0 0.9375rem;
}
.top-bar-section li:not(.has-form) a.no-hover:hover:not(.button) {
	background: #abc894 none repeat scroll 0 0;
	color: #719e40;
}
.top-bar-section li:not(.has-form) a:hover:not(.button):not(.no-hover) {
  color: #95c66d;
  /*background: #ffdf00 #BCED91 #33CC33*/
  background: #c5e5ab none repeat scroll 0 0;
}
.top-bar-section > ul > .divider, 
.top-bar-section > ul > [role="separator"] {
    border-right: 1px solid #DAF7A6 !important;
}
/** This fixes the position and the color of the dropdown arrow **/
.top-bar-section .has-dropdown > a:after {
    border-color: #DAF7A6 transparent transparent;
    margin-top: 0.5px;
    top: 1.2rem;
}
.top-bar-section .has-dropdown > a:hover:after {
    border-color: #ADBE83 transparent transparent;
}
.top-bar-section .has-form {
    background: #c5e5ab none repeat scroll 0 0;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    color: #95c66d;
}
.top-bar-section .dropdown li label {
	background: #c5e5ab none repeat scroll 0 0;
    color: #719e40;
    /* font-size: 0.5em; */
    font-weight: bold;
    margin-bottom: 0;
    padding: 0;
    text-transform: uppercase;
    display: inline;
}
.top-bar-section .dropdown .button {
	margin-top: .75rem;
	margin-left: .50rem;
}
.top-bar-section .has-list {
    background: #c5e5ab none repeat scroll 0 0;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    color: #95c66d;
    text-align: left;
}
.top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button) {
    background: transparent none repeat scroll 0 0;
    color: #719e40;
}
.top-bar-section .dropdown li:hover:not(.has-form):not(.active) > a:not(.button) {
    background-color: rgba(0, 0, 0, 0.2) !important;
    color: #fffff0;
}
.topbar-login {
    margin-bottom: 1.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    padding-bottom: 0rem;
}
.topbar-login-container {
	border-radius: 5px;
    margin: 0.5rem;
    padding: 1.5rem;
}
.topbar-login-row,
.topbar-login-container .topbar-login-row {
	margin: 0;
	padding: 0.25rem;
	position: relative;
}
.topbar-login-row a:not(.password-reset) {
	background: none !important;
	/*margin-top: 0 !important;
	margin-left: 0 !important;
	margin-bottom: 0 !important;
	margin-right: 0 !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;*/
	padding-left: 0 !important;
	padding-right: 0 !important;
    line-height: 0rem !important;
	color: #008cba !important;
}
.topbar-login-row a:not(.password-reset):hover, 
.topbar-login-row a:not(.password-reset):focus {
    color: #0078a0 !important;
}
.topbar-login input[type="email"],
.topbar-login input[type="password"] {
	margin: 0.15rem;
    /*font-size: 0.65rem;
    height: 1.50rem;
    padding-bottom: 0.35rem;
    padding-top: 0.35rem;*/
}
.topbar-login input[type="email"] {
    width:  95%;
}
.topbar-login input[type="password"] {
    width:  95%;
}
.topbar-login input[type="checkbox"] {
	margin-left: 0.15rem;
	display: inline;
}
.topbar-login  label {
	background: #c5e5ab none repeat scroll 0 0;
    color: #719e40;
    /* font-size: 0.5em; */
    font-weight: bold;
    margin-bottom: 0;
    padding: 0;
    text-transform: uppercase;
    display: inline;
}
.topbar-login .forgot-password {
    font-family: "Lato",sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.5rem;
    position: absolute;
    right: 0.6rem;
    top: 0.4rem;
}
.topbar-margin {
	margin-top: 3rem;
}
/* on small screen */

/* content of the toggled menu */
.top-bar .toggle-topbar.menu-icon a {
    color: #719e40;
}
/* toggle 3 horizontal bars */
.top-bar .toggle-topbar.menu-icon a span::after {
    box-shadow: 0 0 0 1px #719e40, 0 7px 0 1px #719e40, 0 14px 0 1px #719e40;
}
.top-bar .divider {
	border: 1px solid #DAF7A6 !important;
}
.top-bar .top-left {
	margin-top: 0.5rem;
	margin-left: 0.5rem;
}
.top-bar .top-right {
	margin-top: -0.75rem;
	margin-right: 0.05rem;
}
.ui-li-count-red { 
	background: #f56c7e none no-repeat scroll center center;
    border-radius: 9px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.17) inset, 0 1px 1px rgba(0, 0, 0, 0.2);
    color: #fff;
    cursor: pointer;
    font-size: 9px;
    font-weight: bold;
    height: 18px;
    margin-left: 0.7rem;
    line-height: 18px;
    position: absolute;
    /*left: 0.5rem;*/
    text-align: center;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    top: 0rem;
    width: 18px;
    z-index: 20;
}
.ui-li-count-blue { 
	background: #7c8eff none no-repeat scroll center center;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.17) inset, 0 1px 1px rgba(0, 0, 0, 0.2);
    color: #fff;
    cursor: pointer;
    font-size: 9px;
    font-weight: bold;
    height: 18px;
    margin-left: 0.7rem;
    line-height: 18px;
    position: absolute;
    /*left: 0.5rem;*/
    text-align: center;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    top: 0rem;
    width: 18px;
    z-index: 20;
}
.dropdown-item {
	display: inline-block;
	position: relative !important;
	margin-top: -1rem; !important;
}
.dropdown-item-line {
    line-height: 2.75rem; !important;
    font-size: 1.5rem;
}
input[type="text"].dropdown-item-line {
	width: 90% !important;
}
input[type="text"].dropdown-item-line:focus  {
	width: 100% !important;
}
.search-filter-menu-icon {
	margin-top: 0.2rem;
	margin-left: -2rem; 
	position: absolute; 
	z-index: 110;
}
</style>

<script type="text/javascript" charset="utf-8">
   
        $(document).ready(function(){
			$('#facebook_signin').on('click', function () {
				window.parent.facebook_login();
			});
			
			$( window ).load(function(){     

		    });
        });
        
</script>

{% if show_title_bar is not defined or show_title_bar == true %}
<div class="page-title-bar-cover effect1">
	<div class="row page-title-bar">
	    <div class="large-12 columns">
	    
	    {% if show_title_bar_search_filter is defined and show_title_bar_search_filter == true %}
			<!-- <div class="search-filter-menu-icon"><a data-tooltip aria-haspopup="true" title="Search Filter" href="#"><i class="fi-list top-bar-icon-style"></i>&nbsp;</a></div> -->
		{% endif %}
		
			<nav id="topbar" role="navigation" class="top-bar effect1" data-topbar>
				<ul class="title-area">	
					<li class="no-hover show-for-small-only name"><a class="top-left" href="#">{% if is_authenticated %}<img style="width:35px;height:35px" src="{{ user.profile_picture }}"> &nbsp;{% endif %} <b>{{ user.user_name|length > max_texted_length_small ? user.user_name|slice(0, max_texted_length_small) ~ '...' : user.user_name  }}</b></a></li>
					<li class="toggle-topbar menu-icon"><a class="top-right" href="#"><span>menu</span></a></li>
				</ul>
				
					<section class="top-bar-section">
						<ul class="left">
						    <li class="current-location hide-me show-for-small-only dropdown-item-line"><a class="no-hover" data-tooltip aria-haspopup="true" title="Your Current Location" href="#"><i id="current_location_marker" class="fi-marker top-bar-icon-style"></i> &nbsp; <span id="current_location">{{ current_location }}</span> </a></li>
						    
						    {% if is_authenticated %}
						    <li class="show-for-small-only divider"></li>					
							<li class="show-for-small-only dropdown-item-line"><a id="my-account" data-reveal-id="account_modal" data-reveal><i class="fi-widget top-bar-icon-style"></i>  &nbsp; My Account </a></li>
							{% endif %}
							
							{% if show_title_bar_home is defined and show_title_bar_home == true %}
							<li class="show-for-large-up divider" style="margin-left: 1rem;"></li>
							<li class="show-for-small-only divider"></li>
							<li class="show-for-large-up"><a href="{{ user.home_page }}"><i class="fi-home top-bar-icon-style"></i> &nbsp; Home </a></li>
							<li class="show-for-medium"><a href="{{ user.home_page }}"><i class="fi-home top-bar-icon-style" data-tooltip aria-haspopup="true" title="Home"></i></a></li>
							<li class="show-for-small-only dropdown-item-line"><a href="{{ user.home_page }}"><i class="fi-home top-bar-icon-style"></i> &nbsp; Home </a></li>
							<li class="divider"></li>
							{% endif %}
							
						</ul>
					</section>
				
				<section class="top-bar-section hide-for-small-only">
					<ul class="left">
						<li class="name">
							<a class="no-hover show-for-medium" href="#"><b>{{ user.user_name|length > max_texted_length_medium ? user.user_name|slice(0, max_texted_length_medium) ~ '...' : user.user_name  }}</b></a>
							<a class="no-hover show-for-large-up" href="#">Welcome <b>{{ user.user_name }}</b></a>
							<!--	
					        <div id="device" class="portview">
					        	<label class="device-title"></label>
					        	<div class="device-type has-tip tip-right"></div>
					        </div>
					        -->
				        </li>
					</ul>
				</section>        
				<section class="top-bar-section">
					<ul class="right">
						<li class="current-location hide-me show-for-large-up"><a class="no-hover" href="#" data-tooltip aria-haspopup="true" title="Your Current Location"><i class="fi-marker top-bar-icon-style"></i> &nbsp; <span id="current_location">{{ current_location }}</span> </a></li>
						<li class="current-location hide-me show-for-medium"><a class="no-hover" href="#" data-tooltip aria-haspopup="true" title="Your Current Location"><i class="fi-marker top-bar-icon-style"></i> &nbsp; <span id="current_location">{{ current_location }}</span> </a></li>
						<li class="divider hide-for-small-only"></li>
						
						{% if is_authenticated  %}
						<li class="show-for-large-up"><a id="notification" data-reveal-id="notification_modal" data-reveal href="#"><img style="width:25px;height:25px" src="/images/user-notification.png" data-tooltip aria-haspopup="true" title="Notification"> {% if notification_item_count > 0 %}<div class="ui-li-count-blue ">{{ notification_item_count }}</div>{% endif %}</a></li>
						<li class="show-for-medium"><a id="notification" data-reveal-id="notification_modal" data-reveal href="#"><i class="fi-alert top-bar-icon-style" data-tooltip aria-haspopup="true" title="Notification"></i> {% if notification_item_count > 0 %}<div class="ui-li-count-blue ">{{ notification_item_count }}</div>{% endif %}</a></li>						
						<li class="show-for-small-only dropdown-item-line"><a id="notification" data-reveal-id="notification_modal" data-reveal href="#"><i class="fi-alert top-bar-icon-style"></i> &nbsp; Notification {% if notification_item_count > 0 %}<div class="ui-li-count-blue dropdown-item">{{ notification_item_count }}</div>{% endif %}</a></li>						
						<li class="divider"></li>
						{% endif %}
						<!--
						<li class="show-for-large-up"><a id="shopping_cart" data-reveal-id="shopping_cart_modal" data-reveal href="#"><img src="/images/shopping-cart/shopping-cart.png" data-tooltip aria-haspopup="true" title="Shopping Cart">{% if shopping_cart_item_count > 0 %}<div class="ui-li-count-red ">{{ shopping_cart_item_count }}</div>{% endif %}</a></li>
						<li class="show-for-medium"><a id="shopping_cart" data-reveal-id="shopping_cart_modal" data-reveal href="#"><i class="fi-shopping-cart top-bar-icon-style" data-tooltip aria-haspopup="true" title="Shopping Cart"></i>{% if shopping_cart_item_count > 0 %}<div class="ui-li-count-red">{{ shopping_cart_item_count }}</div>{% endif %}</a></li>						
						<li class="show-for-small-only dropdown-item-line"><a  id="shopping_cart" data-reveal-id="shopping_cart_modal" data-reveal href="#"><i class="fi-shopping-cart top-bar-icon-style"></i> &nbsp; Shopping Cart {% if shopping_cart_item_count > 0 %}<div class="ui-li-count-red dropdown-item">{{ shopping_cart_item_count }}</div>{% endif %}</a></li>						
						<li class="divider"></li>
						-->
						{% if is_authenticated %}
							<li style="margin-bottom: 1.5rem;" class="show-for-small-only dropdown-item-line"><a href="#" id="sign_out"><i class="fi-unlock top-bar-icon-style"></i> &nbsp;  Sign Out </a></li>
						{% endif %}
						<li class="transparent hide-for-small-only">
							<div class="search-container has-tip tip-right" data-tooltip aria-haspopup="true" title="Enter to search.">
								<form id="search" class="search" method="GET" action="/user/search">
								  <input name="search_filter"  type="text" size="40" placeholder="Search..." />
								</form>
							</div>
						</li>
						<li class="hide-for-small-only divider"></li>
						
						{% if is_authenticated  %}
						 				       	 

				       	 
				         <li id="signOut" class="has-dropdown hide-for-small-only">
							<a id="topbar_account" href="#"><img style="width:35px;height:35px" src="{{ user.profile_picture }}"></a>
							<ul class="dropdown has-list signOut">
								<li ><a id="my-account" data-reveal-id="account_modal" data-reveal><i class="fi-widget top-bar-icon-style"></i>  &nbsp; My Account </a></li>
								<li class="divider"></li>
								<li ><a href="javascript:logout($( '#user_id' ).val());" id="sign_out"><i class="fi-unlock top-bar-icon-style"></i> &nbsp;  Sign Out </a></li>
							 </ul>
				       	 </li>
				       	 
				       	{% else %}
						<li class="show-for-large-up"><a href="#" id="register" data-reveal-id="registration_modal" data-reveal><i class="fi-clipboard-pencil top-bar-icon-style"></i> &nbsp; Sign Up </a></li>
						<li class="show-for-medium"><a href="#" id="register" data-reveal-id="registration_modal" data-reveal><i class="fi-clipboard-pencil top-bar-icon-style" title="Sign Up"></i></a></li>
						<li class="show-for-small-only dropdown-item-line"><a href="#" id="register" data-reveal-id="registration_modal" data-reveal><i class="fi-clipboard-pencil top-bar-icon-style"></i> &nbsp; Sign Up </a></li>
						
						<li class="divider"></li>
						
				        <li id="signIn" class="has-dropdown not-click hide-for-small-only">
				        	<a id="topbar_signin" class="show-for-large-up" href="#"><i class="fi-lock top-bar-icon-style"></i> &nbsp; Login </a>
				        	<a id="topbar_signin" class="show-for-medium" href="#"><i class="fi-lock top-bar-icon-style" data-tooltip aria-haspopup="true" title="Login"></i></a>
							<ul class="dropdown signIn effect7">
					        	<li class="has-form signInform">
					        	<form id="login_form" data-abide>
					        	
					        		<div class="row">
					        			<div class="medium-12 columns">
							        		<div class="topbar-login">
							        			<div class="topbar-login-container color-ivory-white effect1">
											        <div id="login-message-container" class="topbar-login-row">
											        	<span id="login-message"></span>
											        </div>
												    <div class="topbar-login-row">
											        	<input id="login-email" name="login-email" type="email" placeholder="Email" required />
											        	<small class="error message-box" data-error-message="">Email is required.</small>
											      	</div>
											        <div class="topbar-login-row">
												        <input id="login-password" name="login-password" type="password" placeholder="Password" required />
												        <small class="error message-box" data-error-message="">Password is required.</small>
												        <div class="forgot-password has-tip tip-right" data-tooltip aria-haspopup="true" title="Forgot Password"><a href="#" id="password_reset" class="password-reset" data-reveal-id="password_reset_modal" data-reveal>?</a></div>
											        </div>
											    </div>
											    <div class="topbar-login-row">
													<div class="left">
											    		<button type="submit" class="small button effect1">Login</button>
											        </div>
											      	<div class="right">
											        	<input id="rememberme" name="login-rememberme" type="checkbox"><label for="rememberme">remember me</label>
											        </div>
										        </div>
										        <div class="topbar-login-row topbar-margin">
											    		<a href="#" id="register" data-reveal-id="registration_modal" data-reveal>Need an Account?</a><br/>
											    		<!-- <small>Or sign in with <a href="#"> <i class="fi-social-facebook color-facebook-font"></i> Facebook</a>, <a href="#"> <i class="fi-social-twitter color-twitter-font"></i> Twitter</a>, <a href="#"> <i class="fi-social-google-plus color-google-plus-font"></i> Google</a>, or <a href="#"> <i class="fi-social-linkedin color-linkedin-font"></i> Linked In</a>.</small> -->
											        	<!-- <small>Or sign in with <a id="facebook_signin" href="{{ social_media.facebook.login_url }}">Facebook</a>, <a id="twitter_signin" href="{{ social_media.facebook.login_url }}">Twitter</a>, <a id="google_signin" data-onsuccess="google_signup" href="{{ social_media.google.login_url }}">Google</a>, or <a href="#">Linked In</a>.</small> -->
											        
										        </div> 
										    </div>    
										</div>
							      	</div>
							      	
							      	
							      </form>
						    	 </li>
							 </ul>
				       	 </li>
				       	 <li id="signIn" class="show-for-small-only"><a style="margin-bottom: 1.5rem;" class="dropdown-item-line" id="topbar_signin" href="/user/login"><i class="fi-lock top-bar-icon-style"></i> &nbsp; Login </a></li>
				       	 
				       	 <li class="divider show-for-large-up"></li>

						 {% endif %}
						 
						 <li class="transparent show-for-small-only">
							<div class="search-container has-tip tip-right" data-tooltip aria-haspopup="true" title="Enter to search.">
								<form id="search" class="search" method="GET" action="/user/search">
								  <input style="height: 2.50rem;" class="dropdown-item-line" name="search_filter"  type="text" size="40" placeholder="Search..." />
								</form>
							</div>
						  </li>
				       	 
					</ul>
				</section>
			</nav>
	    </div>
	</div>
</div>
{% endif %}
