<style>
	i {
	    display: inline;
	}
	.icon-style {
	    color: #719e40;
	    font-size: 1.0em;
	    text-shadow: 0 0 5px #fdfd96, 
	    			 0 0 10px #fdfd96, 
	    			 0 0 15px #fdfd96, 
	    			 0 0 20px #DAF7A6, 
	    			 0 0 30px #DAF7A6, 
	    			 0 0 40px #DAF7A6, 
	    			 0 0 50px #DAF7A6, 
	    			 0 0 75px #DAF7A6;
	}
</style>

<div id="page-top-nav" class="row page-top-nav  color-pastel-yellow">
    <div class="large-12 columns">
		<header class="page-top-nav-header">
		    <ul class="page-top-nav-menu">
		    
		      <li><a href="#">Home</a></li>
		      <li><a href="#">About</a></li>
		      <li class="page-top-nav-dropdown">
		        <a href="#">Work</a>
		
		        <ul class="page-top-nav-drop-nav">
		          <li><a href="#">Design</a></li>
		          <li><a href="#">Development</a></li>
		          <li class="page-top-nav-flyout">
		            <a href="#">Photography</a>
		            
			            <ul class="page-top-nav-flyout-nav">
			              <li><a href="#">Nature</a></li>
			              <li><a href="#">People</a></li>
			              <li><a href="#">Pets</a></li>         
			            </ul>
			        
		          </li>
		          <li><a href="#">Writing</a></li>       
		        </ul>
		  	
		      </li>
		      <li><a href="#">Contact</a></li>
		    </ul>
		 </header>
	</div>
</div>
